#cm-block {
	display: block;
}
textarea#cm-block-form {
	border: none;
}
#cm-block-outer {
	border: 1px solid rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
	margin:15px;
	padding:5px;
}
#article-area {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	z-index: 100;
	textarea {
		width:100%;
		height:100%;
	}
	
}

#dpi {
	height: 1in;
	left: -100%;
	position: absolute;
	top: -100%;
	width: 1in;
}