#modal-upload-page .pages {
  cursor: pointer;
  width: 143px;
  float: left;
  margin-top: 25px;
  margin-bottom: 5px;
  background-color: #fff;
  position: relative;
  border: 1px solid #999;
}
#modal-upload-page .pages .page_section {
  position: absolute;
  top: -12px;
  height: 7px;
  cursor: pointer;
}
#modal-upload-page .pages .pagenr {
  position: absolute;
  top: -17px;
  width: 30px;
  text-align: center;
  color: #fff;
  background-color: rgba(100, 100, 100, 0.8);
  cursor: pointer;
  font-size: 11px;
  height: 16px;
}
#modal-upload-page .pages .page_locked {
  position: absolute;
  top: -19px;
  background-color: rgba(250, 250, 250, 0.7);
  padding: 0 3px;
}
#modal-upload-page .pages .page_colour {
  position: absolute;
  bottom: -10px;
  opacity: 0.6;
}
#modal-upload-page .pages .msgs {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  font-size: 9px;
  background-color: white;
  display: none;
}
#modal-upload-page .pages footer.progress {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom: 0;
  webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  height: 16px;
}
#modal-upload-page .pages footer.progress .text {
  position: absolute;
  top: -2px;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  font-size: 9px;
}
#modal-upload-page .pages footer.progress .bar {
  -moz-opacity: 0.3;
  -khtml-opacity: 0.3;
  opacity: 0.3;
}
#modal-upload-page .pages > article {
  overflow-y: auto;
  margin-bottom: 15px;
}
#modal-upload-page .pages.left {
  float: left;
  -webkit-box-shadow: -3px 2px 4px rgba(150, 150, 150, 0.2);
  -moz-box-shadow: -3px 2px 4px rgba(150, 150, 150, 0.2);
  box-shadow: -3px 2px 4px rgba(150, 150, 150, 0.2);
}
#modal-upload-page .pages.left .page_section {
  left: -9px;
  right: -2px;
}
#modal-upload-page .pages.left .pagenr {
  left: -1px;
}
#modal-upload-page .pages.left .page_locked {
  left: 31px;
}
#modal-upload-page .pages.left .page_colour {
  left: -10px;
}
#modal-upload-page .pages.right {
  float: right;
  -webkit-box-shadow: 3px 2px 4px rgba(150, 150, 150, 0.2);
  -moz-box-shadow: 3px 2px 4px rgba(150, 150, 150, 0.2);
  box-shadow: 3px 2px 4px rgba(150, 150, 150, 0.2);
}
#modal-upload-page .pages.right .page_section {
  right: -9px;
  left: -3px;
}
#modal-upload-page .pages.right .pagenr {
  right: -1px;
}
#modal-upload-page .pages.right .page_locked {
  right: 31px;
}
#modal-upload-page .pages.right .page_colour {
  right: -10px;
}
#modal-upload-page .pages.active {
  border: 1px solid #666;
  box-shadow: 0 0 10px rgba(100, 100, 100, 0.8);
}
#modal-upload-page .spread {
  display: block;
  float: left;
  width: 305px;
  padding-bottom: 20px;
  padding-top: 10px;
}
#modal-upload-page .spread.left {
  margin-left: 8px;
}
#modal-upload-page .spread.right {
  margin-right: 8px;
}
#modal-upload-page .spread.left .pages.right {
  margin-right: 8px;
}
#modal-upload-page .spread.right .pages.left {
  margin-left: 8px;
}
#modal-upload-page .modal-body {
  position: relative;
  height: 400px;
}
#modal-upload-page .modal-body #spread-area {
  overflow-y: auto;
  padding-left: 20px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 200px;
}
#modal-upload-page .modal-body #side-pane {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 200px;
}
#modal-upload-page #progress-area {
  display: none;
}
