.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 28px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#nf-details-modal {
  width: 800px;
  margin-left: -400px;
  overflow: hidden;
}
#nf-details-modal .modal-body {
  overflow: hidden;
  height: 500px;
  position: relative;
}
#nf-details-modal .modal-header {
  position: relative;
}
#nf-details-modal .list-next-prev-btns {
  display: none;
}
#nf-details-modal .button-cell {
  cursor: pointer;
}
#nf-details-modal .button-cell:hover {
  background-color: #ccc;
}
#nf-details-modal .active .icon-grey {
  color: #666;
}
#nf-details-modal table td,
#nf-details-modal table th {
  border-top-color: #f1f1f1;
}
#nf-details-modal table th {
  color: #999;
  font-weight: bold;
}
#nf-details-modal table.records tbody,
#nf-details-modal table.records thead {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
#nf-details-modal .modal-header-right {
  position: absolute;
  top: 8px;
  right: 30px;
}
#nf-details-modal .details-bottom-right-btns {
  position: absolute;
  right: 10px;
  bottom: 3px;
  width: 210px;
  text-align: right;
}
#nf-details-modal .modal-header-btns {
  position: absolute;
  top: 12px;
  right: 230px;
}
#nf-details-modal .modal-header-btns a {
  text-align: center;
  padding: 15px 8px 5px 8px;
  opacity: 0.2;
  filter: alpha(opacity=20);
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
#nf-details-modal .modal-header-btns a:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}
#nf-details-modal .btn-view-photo {
  cursor: pointer;
}
#nf-details-modal .history-area .history-label {
  background: none;
  padding-left: 10px;
  padding-right: 10px;
}
#nf-details-modal .history-area .btn-group.btn {
  border: 0;
  padding: 0;
}
#nf-details-modal .history-area .btn-group.btn > .btn {
  border-radius: 0;
}
#nf-details-modal .history-area .btn-group.btn > .dropdown-menu {
  text-align: left;
}
#nf-details-modal .history-area .btn-group.btn:first-child > .btn {
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}
#nf-details-modal .history-area .btn-group.btn:last-child > .btn {
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
}
#nf-details-modal .history-wrapper {
  bottom: 0;
  left: 0;
  overflow-y: auto;
  padding: 0 10px;
  padding-top: 10px;
  position: absolute;
  right: 230px;
  top: 0;
}
#nf-details-modal-area .back-btn-details-pane {
  display: none;
}
#nf-details-modal-area .nav-tabs {
  height: 500px;
  position: absolute;
  right: 0;
  top: 0;
  width: 220px;
  bottom: 0;
  padding-top: 10px;
  padding-right: 10px;
}
#nf-details-modal-area .nav-tabs a {
  padding-left: 7px;
  padding-right: 7px;
}
#nf-details-modal-area .nav-tabs a .badge {
  background-color: #ccc;
  float: right;
}
#nf-details-modal-area .nav-tabs a .badge.badge-info {
  background-color: #3A87AD;
}
#nf-details-modal-area .tab-pane {
  position: absolute;
  left: 0;
  top: 0;
  right: 230px;
  bottom: 0;
  overflow-y: auto;
  padding: 0 10px;
}
#nf-details-modal-area .tab-pane .jspVerticalBar {
  opacity: 0;
  filter: alpha(opacity=0);
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
#nf-details-modal-area .tab-pane:hover .jspVerticalBar {
  opacity: 1;
  filter: alpha(opacity=100);
}
#nf-details-modal-area .tab-pane .scroll-pane {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
#nf-details-modal-area .tab-pane table:first-child tr:first-child td,
#nf-details-modal-area .tab-pane table:first-child tr:first-child th {
  border-top: none;
}
#nf-details-modal-area li.tab-icon {
  height: 36px;
}
#nf-details-modal-area li.tab-icon .badge {
  background-color: #ccc;
}
#nf-details-modal-area .tab-icon a {
  width: 15px;
  min-width: 15px;
  display: inline-block;
}
#nf-details-modal-area .log-changes-table th {
  text-align: left !important;
}
#nf-details-modal-area #details-pane-logs .record.active {
  background-color: #f1f1f1 !important;
  text-shadow: none;
}
#nf-details-modal-area #details-pane-logs .record:hover {
  text-shadow: none;
}
#nf-details-modal-area #details-pane-details ins,
#nf-details-modal-area #details-pane-details ins p {
  color: green;
  background: #dfd;
  text-decoration: none;
}
#nf-details-modal-area #details-pane-details del,
#nf-details-modal-area #details-pane-details del p {
  color: red;
  background: #fdd;
  text-decoration: none;
}
#nf-details-modal-area #details-info-pane {
  position: absolute;
  right: 5px;
  bottom: 0px;
  width: 220px;
}
#nf-details-modal-area #details-info-pane .table {
  margin-bottom: 0;
}
#nf-details-modal-area #details-info-pane .photo-slider {
  position: relative;
  z-index: 0;
  width: 220px;
}
#nf-details-modal-area #details-info-pane .photo-slider .item {
  width: 170px;
  height: 140px;
  background-color: #f1f1f1;
  margin-left: 25px;
}
#nf-details-modal-area #details-info-pane .photo-slider .carousel-control {
  border: 1px solid #FFFFFF;
  border-radius: 23px;
  font-size: 20px;
  font-weight: 100;
  height: 35px;
  left: 15px;
  line-height: 30px;
  margin-top: -20px;
  opacity: 0;
  top: 50%;
  width: 20px;
  -moz-transition: opacity 0.5s linear;
  -o-transition: opacity 0.5s linear;
  -webkit-transition: opacity 0.5s linear;
  -ms-transition: opacity 0.5s linear;
  transition: opacity 0.5s linear;
}
#nf-details-modal-area #details-info-pane .photo-slider .carousel-control.right {
  left: auto;
  right: 0;
}
#nf-details-modal-area #details-info-pane .photo-slider .carousel-control.left {
  left: 0;
  right: auto;
}
#nf-details-modal-area #details-info-pane .photo-slider:hover .carousel-control {
  opacity: 0.2;
}
#nf-details-modal-area #details-pane-media table.records tbody tr td {
  line-height: 24px;
}
#nf-details-modal-area #comments-area {
  padding: 10px 20px;
}
#nf-details-modal-area #comments-area article {
  padding-bottom: 10px;
  margin-bottom: 10px;
  position: relative;
  border-bottom: 1px dotted #ccc;
}
#nf-details-modal-area #comments-area article h4 {
  margin-bottom: 3px;
}
#nf-details-modal-area #comments-area article h4 ul.actions {
  margin: 0;
  list-style: none;
  position: absolute;
  top: -5px;
  right: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
#nf-details-modal-area #comments-area article h4 ul.actions li {
  display: inline-block;
  padding: 5px;
  cursor: pointer;
}
#nf-details-modal-area #comments-area article h4 ul.actions li:hover {
  background-color: #DEEBFF;
  color: #000;
}
#nf-details-modal-area #comments-area article h4:hover ul.actions {
  opacity: 1;
  filter: alpha(opacity=100);
}
#nf-details-modal-area #comments-area article .children {
  padding-left: 20px;
}
#nf-details-modal-area #comments-area article .children article {
  border-bottom: none;
  border-top: 1px dotted #e1e1e1;
  margin-top: 5px;
  padding-top: 5px;
  margin-bottom: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
}
#nf-details-modal-area #comments-area article .children article h4 {
  font-size: 11px;
  color: #999;
}
#nf-details-modal-area #comment-area {
  position: absolute;
  bottom: -3px;
  left: 0;
  right: 0;
  padding-left: 20px;
}
#nf-details-modal-area #comment-area form {
  display: none;
}
#nf-details-modal-area #comment-area.active {
  height: 140px;
}
#nf-details-modal-area #comment-area.active input[type="text"] {
  display: none;
}
#nf-details-modal-area #comment-area.active form {
  display: block;
}
#nf-details-modal-area #comment-area.active form textarea {
  width: 515px;
  height: 90px;
  -webkit-box-shadow: 0 0 10px rgba(100, 100, 100, 0.3);
  -moz-box-shadow: 0 0 10px rgba(100, 100, 100, 0.3);
  box-shadow: 0 0 10px rgba(100, 100, 100, 0.3);
}
#nf-details-modal-area #comment-area.active form .buttons {
  position: absolute;
  bottom: 10px;
  right: 20px;
}
#nf-details-modal-area #comment-area.active form #comment-heading {
  position: absolute;
  bottom: 15px;
  left: 20px;
  font-style: italic;
  font-weight: bold;
  color: #999;
}
#nf-details-modal-area #nf-details-title {
  max-width: 465px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
}
#nf-details-modal-area #nf-details-title:hover {
  background-color: rgba(250, 250, 250, 0.8);
  max-width: 100%;
  overflow: visible;
  white-space: normal;
  webkit-box-shadow: 10px rgba(250, 250, 250, 0.8);
  box-shadow: 10px rgba(250, 250, 250, 0.8);
  z-index: 999;
}
#nf-details-modal-area #change-stages li {
  cursor: pointer;
  padding: 5px 10px;
}
#nf-details-modal-area #change-stages li.active {
  background-color: #0088CC;
  color: #FFFFFF;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
}
#nf-details-modal-area #change-stages li:hover {
  background-color: #e3e3e3;
  text-decoration: none;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.9);
  color: #005580;
}
.fancybox-wrap {
  margin-left: 10px;
}
.fancybox-skin {
  background-color: rgba(250, 250, 250, 0.3);
}
.fancybox-title {
  padding: 0;
}
.fancybox-title #photo-viewer-caption {
  padding: 10px;
}
#photo-viewer-tabs {
  margin-top: -24px;
  margin-bottom: 0px;
  padding-right: 5px;
}
#photo-viewer-tabs li {
  float: right;
}
#photo-viewer-tabs a {
  background-color: rgba(250, 250, 250, 0.5);
  border-color: #dddddd #dddddd rgba(0, 0, 0, 0);
  border-image: none;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  padding-top: 2px;
  padding-bottom: 2px;
  color: #444;
}
#photo-viewer-tabs .active a {
  background-color: #fafafa;
}
.fancybox-title-over-wrap {
  right: 0;
}
#nf-details-modal-area-newsbook #left-side-pane {
  position: absolute;
  left: 0;
  top: 0;
  right: 230px;
  bottom: 0;
  overflow-y: auto;
  padding: 0 10px;
}
#nf-details-modal-area-newsbook #left-side-pane .jspVerticalBar {
  opacity: 0;
  filter: alpha(opacity=0);
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
#nf-details-modal-area-newsbook #left-side-pane:hover .jspVerticalBar {
  opacity: 1;
  filter: alpha(opacity=100);
}
#nf-details-modal-area-newsbook #left-side-pane .scroll-pane {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
#nf-details-modal-area-newsbook #left-side-pane .article-photo {
  border-bottom: 1px dotted #ccc;
  padding-top: 15px;
}
#nf-details-modal-area-newsbook #left-side-pane .article-photo .span6 {
  width: 390px;
}
#nf-details-modal-area-newsbook #left-side-pane .article-photo.highlight {
  -webkit-box-shadow: 0 0 10px rgba(100, 100, 100, 0.3);
  -moz-box-shadow: 0 0 10px rgba(100, 100, 100, 0.3);
  box-shadow: 0 0 10px rgba(100, 100, 100, 0.3);
}
#nf-details-modal-area-newsbook #left-side-pane .article-photo .well {
  border: none;
  border-top: 1px dotted #f1f1f1;
  padding: 4px;
  font-size: 10px;
  margin-bottom: 0;
}
#nf-details-modal-area-newsbook #left-side-pane .article-photo .well .btn {
  float: right;
  margin-top: -3px;
  margin-bottom: -4px;
  opacity: 0;
  filter: alpha(opacity=0);
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
#nf-details-modal-area-newsbook #left-side-pane .article-photo:hover .well .btn {
  opacity: 1;
  filter: alpha(opacity=100);
}
#nf-details-modal-area-newsbook #right-side-pane {
  height: 500px;
  position: absolute;
  right: 0;
  top: 0;
  width: 220px;
  bottom: 0;
  padding-top: 10px;
  padding-right: 10px;
  border-left: 1px solid #DDD;
}
#nf-details-modal-area-newsbook #right-side-pane .photo-jump {
  margin-bottom: 10px;
  cursor: pointer;
  border: 1px solid #ccc;
  width: 50px;
  height: 40px;
}
#nf-details-modal-area-newsbook #right-side-pane .photo-jump:hover {
  -webkit-box-shadow: 0 0 10px rgba(100, 100, 100, 0.3);
  -moz-box-shadow: 0 0 10px rgba(100, 100, 100, 0.3);
  box-shadow: 0 0 10px rgba(100, 100, 100, 0.3);
}
#nf-details-modal-area-newsbook #right-side-pane fieldset {
  padding: 0 10px;
}
#nf-details-modal-area-newsbook #right-side-pane fieldset legend {
  padding: 0 10px;
  margin: 10px -10px 5px -10px;
  font-size: 14px;
  line-height: 24px;
  color: #999;
}
#settings-modal #available-columns div {
  opacity: 0.8;
  filter: alpha(opacity=80);
}
#settings-modal .side-col {
  width: 225px;
  height: 330px;
  position: relative;
  overflow: auto;
  border: 1px solid #ccc;
}
#settings-modal .side-col .scroll-pane {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
#settings-modal .side-col ul {
  margin: 0;
  padding: 0;
}
#settings-modal .side-col ul li {
  font-size: 10px;
  margin: 2px;
  padding: 1px;
  display: block;
  border-bottom: 1px dotted #ccc;
}
#settings-modal #selected-columns li,
#settings-modal #available-columns li {
  cursor: move;
}
#settings-modal #selected-columns li:hover,
#settings-modal #available-columns li:hover {
  background-color: #fdf5ce;
}
#settings-modal.modal.wide .modal-body {
  overflow: auto;
  height: 500px;
  position: relative;
}
