<div class="navbar navbar-fixed-top" id="pageheader">
	<div class="navbar-inner" style="">
		<div class="container">
			<div class="clearfix">
				<a class="brand" href="/"><img src="/ui/_images/logo.png" height="30" style="height: 30px;" alt="" id="impreshin-logo" /></a>
                {% if _cfg['git']['branch'] != 'master' %}
                    <div id="brand-branch">{{ _cfg['git']['branch'] }}</div>
                {% endif %}
				<ul class="nav" id="app-nav">
					<li class="divider-vertical"></li>
					
					<li class="{% if page['section'] == "login" %} active {% endif %}">
						<a href="/login"> Login </a>
					</li>
					
					<li class="{% if page['section'] == "contact" %} active {% endif %}">
						<a href="/contact"> Contact </a>
					</li>
					<li>
						<a href="http://www.impreshin.com"> Website </a>
					</li>
					
					
				
				</ul>
				<ul class="nav pull-right">
					<li class="divider-vertical"></li>
					<li class="{% if page['section'] == "history" %} active {% endif %}">
						<a href="/history"> <i class="icon-archive"></i> </a>
					</li>
					<li class="{% if page['section'] == "login" %} active {% endif %}">
						<a href="/login"> Login </a>
					</li>
					
					{% if _user['ID'] %}
						<li class="divider-vertical"></li>
						
						<li style="margin-right: -10px;">
							<a href="/app/logout" style="padding: 8px 3px 10px 10px;" rel="tooltip" title="Logout" data-placement="bottom"><img src="/ui/_images/logout.png" alt="Logout"></a>
						</li>
					{% else %}
						<li>
							<form class="navbar-form pull-left" method="POST" action="/login">
								<input type="email" id="login_email" class="span3" name="login_email" placeholder="Email" value="{{ username }}">
								<input type="password" id="login_password" class="span2" name="login_password" placeholder="Password">
								<button type="submit" class="btn btn-inverse" style="width:70px;">Login</button>
							</form>
						</li>
					
					{% endif %}
				</ul>
			</div>
		</div>
	</div>
</div>
