<div class="navbar navbar-fixed-top" id="pageheader">
	<div class="navbar-inner" style="">
		<div class="container">
			<div class="clearfix">
				<a class="brand" href="/"><img src="/ui/_images/logo.png" height="30" style="height: 30px;" alt=""/></a>
                {% if _cfg['git']['branch'] != 'master' %}
                    <div style="position:absolute;bottom: 0; text-shadow: 2px 8px 6px rgba(0,0,0,0.2), 0px -5px 35px rgba(255,255,255,0.3); margin-left: -30px;  font-size: 10px; color:red;">{{ _cfg['git']['branch'] }}</div>
                {% endif %}
				<ul class="nav" id="app-nav">
					<li class="divider-vertical"></li>
					<li class="{% if page['section'] == "login" %} active {% endif %}">
						<a href="/login"> Login </a>
					</li>


					<li class="{% if page['section'] == "about" %} active {% endif %}">
						<a href="/about"> About </a>
					</li>
					<li class="{% if page['section'] == "screenshots" %} active {% endif %}">
						<a href="/screenshots"> Screenshots </a>
					</li>
					<li class="{% if page['section'] == "news" %} active {% endif %}">
						<a href="/news"> News </a>
					</li>
					<li class="{% if page['section'] == "history" %} active {% endif %}">
						<a href="/history"> Changelog </a>
					</li>


				</ul>
				<ul class="nav pull-right">


					<li class="divider-vertical"></li>
					{% if _user['ID'] %}
					<li style="margin-right: -10px;">
						<a href="/app/logout" style="padding: 8px 3px 10px 10px;" rel="tooltip" title="Logout" data-placement="bottom"><img src="/ui/_images/logout.png" alt="Logout"></a>
					</li>
					{% else %}


					{% endif %}
				</ul>
			</div>
		</div>
	</div>
</div>
