<section id="maintoolbar">
	<div class="container">
		<div class="toolbar clearfix  ">

			<ul class="nav nav-pills pull-left">
				<li>
					<h2 style="padding-left: 30px; margin-bottom: -5px;">About
						<small style="margin-left: 20px;">Simplifying the business of running your publishing business</small>
					</h2>
				</li>

				<li class="divider-vertical"></li>

			</ul>
		</div>
		<div class="toolbar-end"></div>
	</div>

</section>
<section role="main" id="pagecontent">
	<div class="container">


		<div class="row">
			<article id="left-area" class="span10">
				<div class="content">
					<div class="scroll-pane scrolly">
						<div style="padding-left: 10px; padding-right: 10px;">


							<h2>What "this" consists of</h2>

							<h3>AdBooker
								<small>Advert booking system</small>
							</h3>
							<p>This project entails an advert booking and workflow control system which handles the booking, production and lay-out processes and eventually creates a master list for invoicing.</p>

							<p>The original AdBooker system has been operational since 2004 in various newspaper setups. It won the inaugural AIP Innovation awards in 2005. The development focus also moved to projects such as Newsfiler, a news repository system that won the 2010 Telkom Highway Africa award. </p>


							<h3>NewsFiler
								<small>Editorial booking system</small>
							</h3>
							<p><em>Coming soon..</em></p>


							<h3>DistriBooker
								<small>Distribution system</small>
							</h3>
							<p><em>Coming soon..</em></p>

							<h2 style="margin-top: 30px;">Real world challenges
								<small>we are trying to solve</small>
							</h2>

							<p>Small publishers often battle to survive against their bigger counterparts. Case studies have shown that these independent voices fail, not because of being unpopular, but because the business models are not sound. Often publishers have poor control systems in place and do not properly monitor their main source of income (advertising).</p>


							<h2 style="margin-top: 30px;">Who are we
								<small>The creds</small>
							</h2>

							<p>The developers are founder members of the Association of Independent Publishers (AIP), a non-profit organisation aimed at promoting the interest of 200+ small independent publishers in southern Africa. </p>

							<h2 style="margin-top: 30px;">I want
								<small>so what now?</small>
							</h2>
							<p>We are currently running beta testing on the current version of adbooker.</p><p>The product will be made available in two components. A scaled down free online-only version, and a server edition that will be made available to publishers who need the stability of an offline system. A monthly fee will be charged for the server edition to subsidize support and further development. </p>

							<p>If interested. get in touch!</p>
						</div>
					</div>
				</div>
			</article>
			<article id="right-area" class="span6 offset10">
				<div style="padding-left: 10px; padding-right: 10px;">
					<h2>Contact Details</h2>
					<strong>Anton van Zyl</strong> - anton@zoutnet.co.za<br>
					<strong>William Stam</strong> - william@zoutnet.co.za<br>

					<h2 style="margin-top: 30px;">News</h2>

					<p>Beta Testing off to a flying start. once we go out of beta we'll have a dedicated twitter account for here.</p>

					<p>WATCH THIS SPACE!!!</p>


				</div>
			</article>
		</div>


	</div>

</section>
