<section id="maintoolbar">
    <div class="container">
        <div class="toolbar clearfix  ">
            <ul class="nav nav-pills pull-left">

                <li><h2 style="padding-left: 30px; margin-bottom: -5px;">Welcome <small>to <em>Impreshin</em>
                </small> </h2></li>

            </ul>
        </div>
        <div class="toolbar-end"></div>
    </div>

</section>
<section role="main" id="pagecontent">

	<div class="container">


		<article id="whole-area" class="span16" style="top:0;">
				<form class="form-horizontal well" style="" id="login-form" method="POST">
					<fieldset>
						<legend>{{ msg }}</legend>
						<div class="control-group">
							<label for="login_email" class="control-label">Email</label>

							<div class="controls">
								<input type="email" id="login_email" class="span4" name="login_email" placeholder="Email" value="{{ username }}">

							</div>
						</div>
						<div class="control-group">
							<label for="login_password" class="control-label">Password</label>

							<div class="controls">
								<input type="password" id="login_password" class="span3" name="login_password" placeholder="Password">

							</div>
						</div>

						<div class="form-actions ">
							<button class="btn btn-primary span3" type="submit" style="float:right;">Sign in</button>
						</div>
					</fieldset>
				</form>
		</article>
	</div>
</section>