<section id="maintoolbar">
	<div class="container">
		<div class="toolbar clearfix  ">

			<ul class="nav nav-pills pull-left">
				<li>
					<h2 style="padding-left: 30px; margin-bottom: -5px;">Contact Details <small>how you can join up</small></h2>
				</li>

				<li class="divider-vertical"></li>
				<li>
					<h2>

					</h2>
				</li>

			</ul>
		</div>
		<div class="toolbar-end"></div>
	</div>

</section>
<section role="main" id="pagecontent">
	<div class="container">

		<article id="whole-area" class="span16" style="">

			<img src="/front/contact/card_william.jpg" alt=""/>

			


		</article>
	</div>



</section>