<section id="maintoolbar">
	<div class="container">
		<div class="toolbar clearfix  ">

			<ul class="nav nav-pills pull-left">
				<li>
					<h2 style="padding-left: 30px; margin-bottom: -5px;">Activity
						<small style="margin-left: 20px;">Impreshin</small>
					</h2>
				</li>

				<li class="divider-vertical"></li>

			</ul>
		</div>
		<div class="toolbar-end"></div>
	</div>

</section>
<section role="main" id="pagecontent">
	<div class="container">


		<div class="row">
			<article id="whole-area" class="span16">
				<div class="content">
					<div class="scroll-pane scrolly">
						<div style="padding-left: 10px; padding-right: 10px;">

							<div class="github-info"></div>


						</div>
					</div>
				</div>
			</article>

		</div>

	</div>

</section>

<script type="text/javascript">
	$(function () {
		$('.github-info').githubInfo();
	});
</script>
