<section id="maintoolbar">
	<div class="container">
		<div class="toolbar clearfix  ">

			<ul class="nav nav-pills pull-left">
				<li>
					<h2 style="padding-left: 30px; margin-bottom: -5px;">Impreshin
						<small style="margin-left:30px;">&nbsp;</small>
					</h2>
				</li>


			</ul>
			<ul class="nav nav-tabs pull-right" style="margin:-5px 20px -10px 0; border:none;">

				{% for key,row in apps %}
					<li>
						<a href="/screenshots/{{ key }}">{{ row['name'] }}</a>
					</li>
				{% endfor %}
			</ul>
		</div>
		<div class="toolbar-end"></div>
	</div>

</section>
<section role="main" id="pagecontent">
	<div class="container">
		<article id="whole-area" class="span16">
			<div class="content">
				<div class="scroll-pane scrolly">

					<div class="row">
						<div class="span10">
							<h2 style="padding-left:20px;">What we do</h2>
							<div id="myCarousel" class="carousel slide" data-interval="4000" data-ride="carousel">
								
								<!-- Carousel items -->
								<div class="carousel-inner">
									{% for i in 1..39 %}
										<a href="/front/presentation/slides/Impreshin/Slide{{ i }}.jpg" class="item fancybox  {% if loop.first %}active{% endif %}" rel="presentation">
											<img src="/front/presentation/slides/Slide{{ i }}.jpg" alt="">
											<div class="carousel-caption c">{{ i }} of 39</div>
										</a>
										
									{% endfor %}
									
									
								</div>
								<!-- Carousel nav -->
								<a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
								<a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
							</div>
						</div>
						<div class="span5" style="width:330px;" >
							<blockquote class="pull-right">
								<h2 class="r">Who are we</h2>
								<p>
									Impreshin is a research & development company catering almost exclusively for small
									independent publishers.
								</p>
								<p>
									It started off as a project to build productivity tools for a small rural
									publisher.
								</p>
								<p>
									The aim has always been to make these tools available to a wider
									audience.
								</p>
								<p>
									As the years progressed more tools were developed and the level of
									sophistication increased.
								</p>
								<p>
									In 2012 the company was formed to formalise this development unit and
									also to try and ensure continuity.
								</p>
							</blockquote>
						</div>
					</div>
					<article id="newsflash">
						<div class="span16 s" style="margin-left: -5px;">
							<ul id="js-news" class="js-hidden">

							</ul>

						</div>



					</article>
					
					
					
					<div class="row">
						<div class="span16">
							<h2 style="margin-left:20px;margin-right:20px;margin-top:30px;">Our Applications</h2>
							<ul class="nav nav-pills" style="margin-left:50px;;" id="app-list" >

								{% for key,row in apps %}
									<li class="span7 {% if row['app'] == data['app'] %}active{% endif %}">
										<a href="/screenshots/{{ key }}">
											<h4 class="c">
												{{ row['name'] }}
												<br>
												<small>
													{{ row['description'] }}
												</small>
											</h4>

										</a>
									</li>
								{% endfor %}
							</ul>
							
							<table style="width:920px;  margin-left:15px; margin-bottom:30px;" id="about-table"  >
								<tr>
									
									<td>
										<h1>Why such a development unit?</h1>
										<ul>
											<li> Small publishers do not have the means to fund research and
												development projects.
											</li>
											<li>Small publishers are at a disadvantage when it comes to developing and
												implementing technology, as they cannot afford to experiment.
											</li>
											<li>There is a need for long term solutions, not short term fixes.</li>
											<li>Any such products would need support and further development. This can
												only be done by a dedicated unit.<br/>
											</li>
										</ul>
									</td>
									<td>
										<h1>What makes Impreshin different?</h1>
										<ul>
											<li>The products were developed from within the industry, building on dozens
												of years of experience and best-practice methods.
											</li>
											<li>The partners in the development has always been in the small publishing
												industry.
											</li>
											<li> Income generated via Impreshin gets utilized to support existing products
												and develop new products.
											</li>
											<li> The products are browser-based which, among other advantages, mean
												they can be used on different platforms and interfaces.<br/>
											</li>
										</ul>
									</td>
									<td>
										<h1>Awards</h1>
										<ul>
											<li> AIP Media Innovation Awards (2005) - AdBooker, Press-Store</li>
											<li>Highway Africa Awards (2011) - AdBooker</li>
											<li> ANIC (2012) African News Innovation Challenge – AdBooker</li>
										</ul>
										<h1 style="margin-top:20px;">Performance</h1>
										Web based applications get a lot of flack for not performing optimally. Impreshin’s
										performance got a lot of tweaking. Data is generated and returned to the client in less than 0.4 seconds*<br/>
										<div class="s g">* network speed dependent</div>
										
									</td>
								</tr>
							</table>
						</div>
					</div>
					
					
					
				</div>
			</div>
		</article>
		
		

	</div>


</section>
<script type="text/javascript">
	var path = "{{ _cfg['news']['path'] }}";
	var news_items = {{ news_items|raw }};
</script>