<section id="maintoolbar">
    <div class="container">
        <div class="toolbar clearfix  ">
            <ul class="nav nav-pills pull-left">

                <li>
                    <h2 style="padding-left: 30px; margin-bottom: -5px;">AdBooker

                    </h2>
                </li>

            </ul>
        </div>
        <div class="toolbar-end"></div>
    </div>

</section>
<section role="main" id="pagecontent">
	<div class="container">


		<article id="whole-area" class="span16">
			<div class="content">
				<div class="scroll-pane scrolly" id="dummy-area">

					<a href="/uploads/front/screenshots/provisional_list.png" class="screenshot">
						<img src="/uploads/front/screenshots/thumbs/provisional_list.png" alt="Provisional List">

						<div class="hidden">
							<h3>Provisional List <small>- the main list</small></h3>
						</div>

					</a>
					<a href="/uploads/front/screenshots/production_list.png" class="screenshot">
						<img src="/uploads/front/screenshots/thumbs/production_list.png" alt="Production List" >

						<div class="hidden">
							<h3>Production List
								<small>- with production specifics</small>
							</h3>
						</div>
					</a>
					<a href="/uploads/front/screenshots/layout.png" class="screenshot">
						<img src="/uploads/front/screenshots/thumbs/layout.png" alt="Layout" >

						<div class="hidden">
							<h3>Layout
								<small>- drag adverts from right onto pages</small>
							</h3>
						</div>
					</a>
					<a href="/uploads/front/screenshots/details.png" class="screenshot">
						<img src="/uploads/front/screenshots/thumbs/details.png" alt="Record Details" >

						<div class="hidden">
							<h3>Record Details

							</h3>
						</div>
					</a>
					<a href="/uploads/front/screenshots/details_logs.png" class="screenshot">
						<img src="/uploads/front/screenshots/thumbs/details_logs.png" alt="Record Details Logs">

						<div class="hidden">
							<h3>Record Details
								<small>- all actions are logged</small>
							</h3>
						</div>
					</a>
					<a href="/uploads/front/screenshots/details_material.png" class="screenshot">
						<img src="/uploads/front/screenshots/thumbs/details_material.png" alt="Record uploading material" >

						<div class="hidden">
							<h3>Record Details
								<small>- Material status form</small>
							</h3>
						</div>
					</a>
					<a href="/uploads/front/screenshots/search_dates.png" class="screenshot">
						<img src="/uploads/front/screenshots/thumbs/search_dates.png" alt="Record Search" >

						<div class="hidden">
							<h3>Record Search
								<small>- showing the date options</small>
							</h3>
						</div>
					</a>
					<a href="/uploads/front/screenshots/form_accounts.png" class="screenshot">
						<img src="/uploads/front/screenshots/thumbs/form_accounts.png" alt="Record Capture" >

						<div class="hidden">
							<h3>Record Capture
								<small>- the accounts list</small>
							</h3>
						</div>
					</a>
					<a href="/uploads/front/screenshots/overview.png" class="screenshot">
						<img src="/uploads/front/screenshots/thumbs/overview.png" alt="Overview" >

						<div class="hidden">
							<h3>Edition Overview
								<small>- (work in progress)</small>
							</h3>
						</div>
					</a>
					<a href="/uploads/front/screenshots/admin_accounts.png" class="screenshot">
						<img src="/uploads/front/screenshots/thumbs/admin_accounts.png" alt="Admin Accounts" >

						<div class="hidden">
							<h3>Admin
								<small>- Accounts</small>
							</h3>
						</div>
					</a>
					<a href="/uploads/front/screenshots/admin_targets.png" class="screenshot">
						<img src="/uploads/front/screenshots/thumbs/admin_targets.png" alt="Admin Marketer Targets" >

						<div class="hidden">
							<h3>Admin
								<small>- Marketer Targets</small>
							</h3>
						</div>
					</a>
					<a href="/uploads/front/screenshots/admin_users.png" class="screenshot">
						<img src="/uploads/front/screenshots/thumbs/admin_users.png" alt="Admin Users" >

						<div class="hidden">
							<h3>Admin
								<small>- Users</small>
							</h3>
						</div>
					</a>
					<a href="/uploads/front/screenshots/reports_marketer_figures_1.png" class="screenshot">
						<img src="/uploads/front/screenshots/thumbs/reports_marketer_figures_1.png" alt="Reports Figures" >

						<div class="hidden">
							<h3>Reports
								<small>- Figures</small>
							</h3>
						</div>
					</a>
					<a href="/uploads/front/screenshots/reports_marketer_figures_2.png" class="screenshot">
						<img src="/uploads/front/screenshots/thumbs/reports_marketer_figures_2.png" alt="Reports Charts" >

						<div class="hidden">
							<h3>Reports
								<small>- Charts</small>
							</h3>
						</div>
					</a>

				</div>
			</div>
		</article>
	</div>
</section>

