<div id="github-commits"></div>
<script src="/ui/_js/plugins/github.commits.widget-min.js"></script>
<script>
	$(function () {
		$('#github-commits').githubInfoWidget({ user:'WilliamStam', repo:'Press-Apps', branch:'master', last:5 });
	});
</script>