<section id="maintoolbar">
	<div class="container">
		<div class="toolbar clearfix  ">

			<ul class="nav nav-pills pull-left">
				<li>
					<h2 style="padding-left: 30px; margin-bottom: -5px;">Contact Details </h2>
				</li>

				<li class="divider-vertical"></li>
				<li>
					<h2>
						<small>how you can join up</small>
					</h2>
				</li>

			</ul>
		</div>
		<div class="toolbar-end"></div>
	</div>

</section>
<section role="main" id="pagecontent">
	<div class="container">

		<article id="whole-area" class="span16" style="">
			<div class="row">
				<div class="span10 offset3 c" style="padding-top:65px; padding-left:25px;">
					<h3 style="margin-bottom:10px;">Keen to join the program?</h3>

					<p>Impreshin suite of applications builds on decades of newspaper expertise to create a workflow that we believe will improve your bussiness, for this reason its not a simple slot it in and it works type system.</p>

					<p>You would have to get in touch with us should you wish to join. </p>

					<p>
						We do offer a free trial so its no obligations.
					</p>



				</div>
				


			</div>
			<div class="row" style="padding-top:40px;">
				<div class="card">
					<div class="side"><img src="/front/contact/side-logo.fw.png" alt=""/></div>
					<div class="logo"><img src="/front/contact/top-logo.fw.png" alt=""/></div>
					<div class="name">William Stam</div>
					<div class="contact r">
						<div class="skype">
							<i class="icon-skype"></i> william_stam
						</div>
						<div class="email">
							<i class="icon-envelope"></i>
							<a href="mailto:william@impreshin.com">william@impreshin.com</a>
						</div>
					</div>
				</div>
				<div class="card">
					<div class="side"><img src="/front/contact/side-logo.fw.png" alt=""/></div>
					<div class="logo"><img src="/front/contact/top-logo.fw.png" alt=""/></div>
					<div class="name">Anton van Zyl</div>
					<div class="contact r">
						<div class="skype">
							<i class="icon-skype"></i> antonvanzyl
						</div>
						<div class="email">
							<i class="icon-envelope"></i> <a href="mailto:anton@impreshin.com">anton@impreshin.com</a>
						</div>
					</div>
				</div>

			</div>


		</article>
	</div>



</section>