<section id="maintoolbar">
	<div class="container">
		<div class="toolbar clearfix  ">

			<ul class="nav nav-pills pull-left">
				<li>
					<h2 style="padding-left: 30px; margin-bottom: -5px;">Recent Changes</h2>
				</li>

				<li class="divider-vertical"></li>

			</ul>
		</div>
		<div class="toolbar-end"></div>
	</div>

</section>
<section role="main" id="pagecontent">
	<div class="container">


		<article id="whole-area" class="span16" style="">
			<div class="content">
				<div class="scroll-pane scrolly" id="dummy-area">
					<div id="divRss"></div>

				</div>
			</div>
		</article>
	</div>
</section>

