<section id="maintoolbar">
    <div class="container">
        <div class="toolbar clearfix  ">
            <ul class="nav nav-pills pull-left">

                <li>
                    <h2 style="padding-left: 30px; margin-bottom: -5px;">{% if data  %}{{ data['name'] }}<small style="margin-left:30px;">{{ data['description'] }}</small>{% else %}Choose an application{% endif %}</h2>
                </li>

            </ul>
	        <ul class="nav nav-tabs pull-right" style="margin:0; margin-bottom:-1px; margin-top:-5px; border:none;">
		        {% if data  %}
			        <li><a href="/screenshots"><i class="icon-arrow-left"></i></a></li>
		        {% endif %}
		        {% for row in apps %}
		        <li {% if row['app'] == data['app'] %}class="active"{% endif %}>
			        <a href="/screenshots/{{ row['app'] }}">{{ row['name'] }}</a>
		        </li>
		        {% endfor %}
		    </ul>
        </div>
        <div class="toolbar-end"></div>
    </div>

</section>
<section role="main" id="pagecontent">
	<div class="container">
		

		<article id="whole-area" class="span16">
			<div class="content">
				<div class="scroll-pane scrolly" id="dummy-area">

					{% if data  %}
						
						{% if data['screenshots']|length =='0' %}

					<div class="alert c" style="margin:50px;">
							Coming soon
						</div>
							{% endif %}
					
						{% for row in data['screenshots'] %}
						<a href="/screenshots/thumb?file={{ data['app'] }}/{{ row['i'] }}&w=960&h=960&crop=false" class="screenshot">
							<img src="/screenshots/thumb?file={{ data['app'] }}/{{ row['i'] }}&w=300&h=300&crop=false" alt="{{ row['n'] }}" >

							<div class="hidden">
								<h3>{{ row['n'] }}{% if row['d'] %}<small>- {{ row['d'] }}</small>{% endif %}</h3>
							</div>
						</a>
					{% endfor %}
					
					{% else %}
						<ul class="nav nav-pills" style="margin-left:-10px;margin-top:50px;">
							
							{% for row in apps %}
								<li class="span8 {% if row['app'] == data['app'] %}active{% endif %}">
									<a href="/screenshots/{{ row['app'] }}">
										<h4 class="c">
											{{ row['name'] }}
											<br>
											<small>
												{{ row['description'] }}
											</small>
										</h4>
										
										
									
									
										
										</a>
								</li>
							{% endfor %}
						</ul>
					{% endif %}

				</div>
			</div>
		</article>
	</div>
</section>

