<section role="main" id="pagecontent" style="top: 42px; bottom: -20px;">
	<div class="container">


		<article id="whole-area" class="span16" style="top: 0px; bottom: 0;">
			<div class="content">
				<div class="scroll-pane scrolly" id="dummy-area">

					<a href="/uploads/front/screenshots/provisional_list.jpg" class="screenshot">
						<img src="/uploads/front/screenshots/thumbs/provisional_list.jpg" alt="Provisional List">

						<div class="hidden">
							<h3>Production List
								<small>- the main list</small></h3>

						</div>

					</a>
					<a href="/uploads/front/screenshots/production_list.jpg" class="screenshot">
						<img src="/uploads/front/screenshots/thumbs/production_list.jpg" alt="Production List" >
					</a>
					<a href="/uploads/front/screenshots/layout.jpg" class="screenshot">
						<img src="/uploads/front/screenshots/thumbs/layout.jpg" alt="Layout" >
					</a>
					<a href="/uploads/front/screenshots/details.jpg" class="screenshot">
						<img src="/uploads/front/screenshots/thumbs/details.jpg" alt="Record Details" >
					</a>
					<a href="/uploads/front/screenshots/details_logs.jpg" class="screenshot">
						<img src="/uploads/front/screenshots/thumbs/details_logs.jpg" alt="Record Details Logs">
					</a>
					<a href="/uploads/front/screenshots/details_material.jpg" class="screenshot">
						<img src="/uploads/front/screenshots/thumbs/details_material.jpg" alt="Record uploading material" >
					</a>
					<a href="/uploads/front/screenshots/search_dates.jpg" class="screenshot">
						<img src="/uploads/front/screenshots/thumbs/search_dates.jpg" alt="Record Search" >
					</a>
					<a href="/uploads/front/screenshots/form_accounts.jpg" class="screenshot">
						<img src="/uploads/front/screenshots/thumbs/form_accounts.jpg" alt="Record Capture" >
					</a>
					<a href="/uploads/front/screenshots/overview.jpg" class="screenshot">
						<img src="/uploads/front/screenshots/thumbs/overview.jpg" alt="Overview" >
					</a>
					<a href="/uploads/front/screenshots/admin_accounts.jpg" class="screenshot">
						<img src="/uploads/front/screenshots/thumbs/admin_accounts.jpg" alt="Admin Accounts" >
					</a>
					<a href="/uploads/front/screenshots/admin_targets.jpg" class="screenshot">
						<img src="/uploads/front/screenshots/thumbs/admin_targets.jpg" alt="Admin Marketer Targets" >
					</a>
					<a href="/uploads/front/screenshots/admin_users.jpg" class="screenshot">
						<img src="/uploads/front/screenshots/thumbs/admin_users.jpg" alt="Admin Users" >
					</a>

				</div>
			</div>
		</article>
	</div>
</section>

