<h1>Provisional List
	<small> - {{_user['publication']['publication'] }} - {{ data['date'] }} | <span style="font-size: 14px;">Highlight: <strong>{{ settings['highlight']}}</strong>
	 , Filter: <strong>{{ settings['filter']}}</strong>
	 </span></small>
</h1>
<em>Printed By:</em>
{{ _user['fullName'] }} | <em>Printed Date: </em>
{{ "now"|date("d M Y H:i:s") }}

<div style="height: 30px;"></div>



{% include '_records.tmpl' %}