<div class="navbar navbar-fixed-top" id="pageheader">
	<div class="navbar-inner" style="">
		<div class="container">
			<div class="clearfix">
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </a>
				<a class="brand" href="/ab/">AdBooker</a>

				<div id="app-nav-bar">
					<ul class="nav" id="app-nav">

						{% if _user['permissions']['form']['new']  %}
						<li class="divider-vertical"></li>
						<li class="{% if page['section'] == "form" %} active {% endif %}">
							<a href="/ab/form/" class="nav-icon-btn">
								{% if  page['section'] == "form" and details['ID']!="" %}
									<i class="icon-pencil icon-d-grey"></i>
								{% else %}
									<i class="icon-plus icon-d-grey"></i>
								{% endif %}
							</a>
						</li>
						{% endif %}
						<li class="divider-vertical"></li>

						<li class="{% if page['section'] == "bookings" %} active {% endif %}">
							<a  href="/ab/">Bookings</a>

						</li>
						{% if _user['permissions']['production']['page'] %}
						<li class="{% if page['section'] == "production" %} active {% endif %}">
							<a href="/ab/production/">Production</a>
						</li>
						{% endif %} {% if _user['permissions']['layout']['page'] %}
						<li class="{% if page['section'] == "layout" %} active {% endif %}">
							<a href="/ab/layout/">Layout</a>
						</li>
						{% endif %} {% if _user['permissions']['overview']['page'] %}
						<li class="{% if page['section'] == "overview" %} active {% endif %}">
							<a href="/ab/overview/">Overview</a>
						</li>


						{% endif %}
						{% if _user['permissions']['records']['_nav'] %}
						<li class="dropdown {% if page['section'] == "records" %} active {% endif %}">
							<a data-toggle="dropdown" class="dropdown-toggle" href="javascript:void(0);">Records <b class="caret"></b></a>
							<ul class="dropdown-menu">
								{% if _user['permissions']['records']['deleted']['page'] %}
								<li class=" {% if page['sub_section'] == "deleted" %} active {% endif %}">
									<a href="/ab/records/deleted/"><i class="icon-trash menu-icon"></i>Deleted Records</a>
								</li>
								{% endif %} {% if _user['permissions']['records']['search']['page'] %}
								<li class=" {% if page['sub_section'] == "search" %} active {% endif %}">
									<a href="/ab/records/search/"><i class="icon-search menu-icon"></i>Search</a>
								</li>

								{% endif %}
							</ul>
						</li>
						{% endif %}
						{% if _user['permissions']['reports']['_nav'] %}
						<li class="dropdown {% if page['section'] == "reports" %} active {% endif %}">
							<a data-toggle="dropdown" class="dropdown-toggle" href="javascript:void(0)">Reports <b class="caret"></b></a>
							<ul class="dropdown-menu">
								{% if _user['permissions']['reports']['account']['_nav'] %}
								<li class="nav-header">Accounts</li>
								{% endif %}
								{% if _user['permissions']['reports']['account']['figures']['page'] %}
								<li class="{% if page['section']=="reports" and page['sub_section'] == "account_figures" %} active {% endif %}">
									<a href="/ab/reports/account/figures">Figures</a>
								</li>
								{% endif %}



								{% if _user['permissions']['reports']['marketer']['_nav'] %}
								<li class="nav-header">Marketers</li>
								{% endif %}

								{% if _user['permissions']['reports']['marketer']['figures']['page'] %}
								<li class="{% if page['section']=="reports" and page['sub_section'] == "marketer_figures" %} active {% endif %}">
									<a href="/ab/reports/marketer/figures">Figures</a>
								</li>
								{% endif %}
								{% if _user['permissions']['reports']['marketer']['discounts']['page'] %}
								<li class="{% if page['section']=="reports" and page['sub_section'] == "marketer_discounts" %} active {% endif %}">
									<a href="/ab/reports/marketer/discounts">Discounts</a>
								</li>
								{% endif %}
								{% if _user['permissions']['reports']['marketer']['targets']['page'] %}
								<li class="{% if page['section']=="reports" and page['sub_section'] == "marketer_targets" %} active {% endif %}">
									<a href="/ab/reports/marketer/targets">Targets</a>
								</li>
								{% endif %}


								{% if _user['permissions']['reports']['production']['_nav'] %}
								<li class="nav-header">Production</li>
								{% endif %}
								{% if _user['permissions']['reports']['production']['figures']['page'] %}
								<li class="{% if page['section']=="reports" and page['sub_section'] == "production_figures" %} active {% endif %}">
									<a href="/ab/reports/production/figures">Figures</a>
								</li>
								{% endif %}



								{% if _user['permissions']['reports']['category']['_nav'] %}
								<li class="nav-header">Categories</li>
								{% endif %}
								{% if _user['permissions']['reports']['category']['figures']['page'] %}
								<li class="{% if page['section']=="reports" and page['sub_section'] == "category_figures" %} active {% endif %}">
									<a href="/ab/reports/category/figures">Figures</a>
								</li>
								{% endif %}




								{% if _user['permissions']['reports']['publication']['_nav'] %}
								<li class="nav-header">Publication</li>
								{% endif %}
								{% if _user['permissions']['reports']['publication']['figures']['page'] %}
								<li class="{% if page['section']=="reports" and page['sub_section'] == "publication_figures" %} active {% endif %}">
									<a href="/ab/reports/publication/figures">Figures</a>
								</li>
								{% endif %}
								{% if _user['permissions']['reports']['publication']['section']['page'] %}
								<li class="{% if page['section']=="reports" and page['sub_section'] == "publication_section" %} active {% endif %}">
									<a href="/ab/reports/publication/section">Sections</a>
								</li>
								{% endif %}
								{% if _user['permissions']['reports']['publication']['placing']['page'] %}
								<li class="{% if page['section']=="reports" and page['sub_section'] == "publication_placing" %} active {% endif %}">
									<a href="/ab/reports/publication/placing">Placing</a>
								</li>
								{% endif %}





							</ul>
						</li>
						{% endif %}
						<li class="divider-vertical" style="margin-right: 0;"></li>


					</ul>
					<ul class="nav pull-right" style="margin-left: 0;margin-right: 0;">

						<li class="dropdown" style="padding-left: 0; padding-right: 0; " >
							<a data-toggle="dropdown" class="dropdown-toggle" href="javascript:void(0)" style="padding-left: 8px; padding-right: 0; ">
								<div id="nav-pub-list">
									{{  _user['publication']['publication'] }}<b class="caret"></b>
								</div>
							</a>



							<ul class="dropdown-menu">
								{% for row in _user['publications'] %}
								<li class="{% if row['ID'] ==  _user['publication']['ID'] %}active{% endif %}"><a href="?apID={{ row['ID'] }}">{{ row['publication'] }}</a></li>
								{% endfor %}
							</ul>
						</li>
						<li class="divider-vertical"></li>
						{% if _user['permissions']['administration']['_nav'] %}
						<li class="dropdown {% if page['section']=="admin" %} active {% endif %}">
							<a data-toggle="dropdown" class="dropdown-toggle nav-icon-btn" href="javascript:void(0)" title="Settings" rel="tooltip" data-placement="bottom"><i class="icon-cog icon-d-grey"></i>
							</a>
							<ul class="dropdown-menu">
								<li class="nav-header">Application</li>
								{% if _user['permissions']['administration']['application']['accounts']['page'] %}
								<li class="{% if page['section']=="admin" and page['sub_section'] == "accounts" %} active {% endif %}">
									<a href="/ab/admin/accounts">Accounts</a>
								</li>
								{% endif %}
								{% if _user['permissions']['administration']['application']['accounts']['status']['page'] %}
								<li class="{% if page['section']=="admin" and page['sub_section'] == "accounts_status" %} active {% endif %}">
									<a href="/ab/admin/accounts/status" {% if _user['permissions']['administration']['application']['accounts']['page'] %}style="padding-left: 30px;">{% else %}>Account {% endif %}Status</a>
								</li>
								{% endif %}

								{% if _user['permissions']['administration']['application']['categories']['page'] %}
								<li class="{% if page['section']=="admin" and page['sub_section'] == "categories" %} active {% endif %}">
									<a href="/ab/admin/categories">Categories</a>
								</li>
								{% endif %}

								{% if _user['permissions']['administration']['application']['marketers']['page'] %}
								<li class="{% if page['section']=="admin" and page['sub_section'] == "marketers" %} active {% endif %}">
									<a href="/ab/admin/marketers">Marketers</a>
								</li>
								{% endif %}
								{% if _user['permissions']['administration']['application']['marketers']['targets']['page'] %}
								<li class="{% if page['section']=="admin" and page['sub_section'] == "marketers_targets" %} active {% endif %}">
									<a href="/ab/admin/marketers/targets" {% if _user['permissions']['administration']['application']['marketers']['page'] %}style="padding-left: 30px;">{% else %}>Marketers {% endif %}Targets</a>
								</li>
								{% endif %}


								{% if _user['permissions']['administration']['application']['production']['page'] %}
								<li class="{% if page['section']=="admin" and page['sub_section'] == "production" %} active {% endif %}">
									<a href="/ab/admin/production">Production</a>
								</li>
								{% endif %}






								{% if _user['permissions']['administration']['application']['sections']['page'] %}
								<li class="{% if page['section']=="admin" and page['sub_section'] == "sections" %} active {% endif %}">
									<a href="/ab/admin/sections">Sections</a>
								</li>
								{% endif %}


								{% if _user['permissions']['administration']['application']['placing']['page'] %}
								<li class="{% if page['section']=="admin" and page['sub_section'] == "placing" %} active {% endif %}">
									<a href="/ab/admin/placing">Placing</a>
								</li>
								{% endif %}

								{% if _user['permissions']['administration']['application']['placing']['colours']['page'] %}
								<li class="{% if page['section']=="admin" and page['sub_section'] == "placing_colours" %} active {% endif %}">
									<a href="/ab/admin/placing/colours" {% if _user['permissions']['administration']['application']['placing']['page'] %}style="padding-left: 30px;">{% else %}>Placing {% endif %}Colours</a>
								</li>
								{% endif %}


								{% if _user['permissions']['administration']['application']['loading']['page'] %}
								<li class="{% if page['section']=="admin" and page['sub_section'] == "loading" %} active {% endif %}">
									<a href="/ab/admin/loading">Loading</a>
								</li>
								{% endif %}

								{% if _user['permissions']['administration']['application']['inserts_types']['page'] %}
								<li class="{% if page['section']=="admin" and page['sub_section'] == "inserts_type" %} active {% endif %}">
									<a href="/ab/admin/inserts_types">Inserts Type</a>
								</li>
								{% endif %}


								<li class="nav-header">System</li>
								{% if _user['permissions']['administration']['system']['dates']['page'] %}
								<li class="{% if page['section']=="admin" and page['sub_section'] == "dates" %} active {% endif %}">
									<a href="/ab/admin/dates"><i class="icon-calendar menu-icon"></i> Dates</a>
								</li>
								{% endif %}{% if _user['permissions']['administration']['system']['users']['page'] %}
								<li class="{% if page['section']=="admin" and page['sub_section'] == "users" %} active {% endif %}">
									<a href="/ab/admin/users"><i class="icon-user menu-icon"></i> Users</a>
								</li>
								{% endif %}
								{% if _user['permissions']['administration']['system']['publications']['page'] %}
									<li class="{% if page['section']=="admin" and page['sub_section'] == "publications" %} active {% endif %}">
										<a href="/ab/admin/publications"><i class="icon-book menu-icon"></i> Publications</a>
									</li>
								{% endif %}
								{% if _user['permissions']['administration']['system']['company']['page'] %}
								<li><a href="#"><i class="icon-globe menu-icon"></i> Company</a></li>
								{% endif %}
							</ul>
						</li>
						<li class="divider-vertical"></li>
						{% endif %}
						<li style="margin-right: -10px;">
							<a href="/logout" style="padding: 8px 3px 10px 10px;" rel="tooltip" title="Logout" data-placement="bottom"><img src="/ui/_images/logout.png" alt="Logout"></a>
						</li>
					</ul>
				</div>
				<!--/.nav-collapse -->
			</div>
		</div>

	</div>


	<div class="clearfix"></div>
</div>