{% include "_nav_top.tmpl" %}
<section id="maintoolbar">
	<div class="container">
		<div class="toolbar clearfix  ">
			<ul class="nav nav-pills pull-left">

				<li>
					<h2 style="padding-left: 30px; margin-bottom: -5px;">Administration
					</h2>
				</li>
				<li class="divider-vertical"></li>
				<li>
					<h2 style=" margin-bottom: -5px;"><small>Users</small>
					</h2>
				</li>
			</ul>
			<div class="pull-right">
				<ul class="nav nav-pills pull-left" id="provisional-stats-bar">

				</ul>
				<ul class="nav nav-pills pull-right ">
					<li class="divider-vertical" style="margin-right: 0;"></li>
					<li class="dropdown pull-right">
						<a id="reload-btn" href="javascript:void(0);" style="width:15px;"><i class="icon-refresh"></i></a>

					</li>
				</ul>
			</div>

		</div>
		<div class="toolbar-end"></div>
	</div>

</section>

<section role="main" id="pagecontent">
	<div class="container admin_pages">


		<div class="row">
			<article id="left-area" class="span11">
				<form class="form-horizontal" id="capture-form">
				<div class="content" id="form-area">

				</div>
				<div class="loadingmask wide"></div>
			</form>
			</article>
			<article id="right-area" class="span5 offset11">
				<div>
					<table class="table table-condensed  s records">
						<thead>
						<tr>
							<th data-col="fullName" class="order-btn">Full Name</th>
							<th style="width: 90px;" data-col="ab_last_activity" class="order-btn">Last Activity</th>
							<th style="width: 20px;" class="c order-btn" data-col="currentPub">Pub</th>

						</tr>
						</thead>
					</table>
				</div>
				<div class="content">
					<div class="scroll-pane scrolly" id="record-list-middle" style="top: 25px;">

						<div data-heading="top" class="">
							<table style="" id="record-list" class="table table-condensed  s records" >
								<tbody style="border-left:none;">


								</tbody>
							</table>


						</div>


					</div>


				</div>
				<div id="record-details-bottom">
					<div id="pagination" class="pagination"></div>
				</div>
				<section id="rightsideOver">

				</section>
				<div class="loadingmask round"></div>


			</article>
		</div>



	</div>

</section>


