
<section id="maintoolbar">
	<div class="container">
		<div class="toolbar clearfix  ">
			<form class="" style="margin: 0;" id="search-form">
			<ul class="nav nav-pills pull-left">
				<li>
					<h2 style="padding-left: 30px; margin-bottom: -5px;">Search</h2>
				</li>

				<li class="divider-vertical"></li>

			</ul>
			<div class="pull-right">

				<ul class="nav nav-pills pull-right ">
					<li id="search-stats"></li>
					<li>
						<input type="text" class="span3 search-query" id="search" name="search" placeholder="Search string" value="{{ settings['search']['search']|default("") }}">
					</li>

					<li style="padding-left: 10px;">
						<div class="input-append" id="date-picker-area">
							<label for="date-picker">
							<input id="date-picker" name="date-picker" type="text" placeholder="Date Filter" class="span3" value="{{ settings['search']['dates']|default(_user['publication']['current_date']['publish_date']) }}">
								<span class="add-on" style="margin-left: -4px; border-left:none; "><i class="icon-calendar"></i></span></label>

						</div>



					</li>
					<li>
						<button class="btn span2 btn-mini" type="submit">Search</button></li>
					<li class="divider-vertical" style="margin-right: 0;"></li>
					<li>
						<a href="{{ page['print'] }}" target="_blank" class="toolbar-print"><i class="icon-print icon-d-grey"></i></a>
					</li>
					<li class="dropdown pull-right">
						<a data-toggle="dropdown" class="dropdown-toggle c" href="javascript:" style="width:15px;"><i class="icon-wrench"></i></a>
						<ul class="dropdown-menu" id="record-settings">
							<li class="nav-header">Group By</li>
							{% for row in settings['groupby'] %}
							<li data-group-records-by="{{ row['g'] }}" class="{% if settings['group']['g']|default("dates") == row['g'] %}active{% endif %}">
								<a href="javascript:;">{{ row['n'] }}</a>
							</li>
							{% endfor %}






							<li class="nav-header clearfix">Direction</li>
							<li data-order-records-by="ASC" class="{% if settings['group']['o'] == "ASC" %}active{% endif %}" style="width: 50%; float:left;"><a href="javascript:;"><i class="icon-chevron-up icon-grey"></i> ASC</a></li>
							<li data-order-records-by="DESC" class="{% if settings['group']['o'] == "DESC" %}active{% endif %} " style="width: 50%; float:right;"><a href="javascript:;"><i class="icon-chevron-down icon-grey"></i> DESC</a></li>
							<li class="clearfix"></li>
							<li class="divider"></li>
							<li><a href="javascript:;" id="list-settings"><i class="icon-cog  icon-grey"></i> Settings</a></li>
						</ul>
					</li>
				</ul>

			</div>
		</form>

		</div>
		<div class="toolbar-end"></div>
	</div>

</section>

<section role="main" id="pagecontent">

<div class="container">


<article id="whole-area" class="span16">
<div class="content">
<div class="scroll-pane">

<div data-heading="top" id="scroll-container" >
<table class="table table-condensed table-bordered s records" id="record-list" style="margin-right: 15px; ">


</table>

</div>

</div>

</div>
	<div class="pagination pagination-centered" id="pagination">


	</div>
	<div class="loadingmask wide"></div>
</article>
</div>


</section>


<div class="modal hide fade wide" id="settings-modal" data-show="false">
	<form class="form-horizontal" style="padding: 0; margin: 0;">
	<div class="modal-header">
		<a class="close" data-dismiss="modal">×</a>

		<h3>
			Settings
		</h3>


	</div>
	<div class="modal-body" style="overflow: hidden;">

		<section class="span8" style="position:absolute;top:0; bottom: 0; left: 0; border-right: 1px dotted #ccc;padding-right: 10px;">
			<h4>
				List Columns<br>
				<small>Drag the items up and down to re-order the list. <br>To remove a column drag it to the "Available" column</small>
			</h4>
			<table style="width: 100%; border-bottom:1px solid #ccc; margin-top: 8px; ">
				<tr class="headingrow" style="">
					<th style="width:50%;"><h5>Selected Columns</h5></th>
					<th style="width: 5px;"></th>
					<th style="width:50%;"><h5>Available</h5></th>
				</tr>

			</table>
			<div class="scroll-pane" style="position:absolute; top:85px; left:0; bottom:0;right:0; overflow: auto;  ">
				<div >
					<table style="width: 100%;">

						<tr>
							<td id="selected-columns" class="connectedSortable">
								{% for row in settings_columns['selected'] %}
								<div data-column="{{ row['c'] }}">{{ row['h']|raw }}</div>
								{% endfor %}

							</td>
							<td style="width: 5px; background-color: #ccc;"></td>
							<td id="available-columns" class="connectedSortable">

								{% for row in settings_columns['available'] %}
								<div data-column="{{ row['c'] }}">{{ row['h']|raw }}</div>
								{% endfor %}

							</td>
						</tr>

					</table>
				</div>
			</div>
		</section>
		<section class="" style="position:absolute;top:0; bottom: 0; right: 0; left: 505px;">
			<h4>
				Record Group<br>
				<small>Group the records by this category
				</small>
			</h4>
			<div class="btn-group square" data-toggle="buttons-radio" id="settings-records-group">
				{% for row in settings['groupby'] %}
				<button type="button" style="width: 135px;" data-group-records-by="{{ row['g'] }}" class="btn {% if settings['group']['g']|default("dates") == row['g'] %}active{% endif %}">{{ row['n'] }}</button>

				{% endfor %}



			</div>
			<div class="clearfix"></div>
			<hr>
			<h4>
				Group Ordering<br>
				<small>Order the groups this way
				</small>
			</h4>
			<div class="btn-group square" data-toggle="buttons-radio" id="settings-records-order">
				<button type="button" style="width: 202px;" data-order-records-by="ASC" class="btn {% if settings['group']['o']|default("ASC") == "ASC" %}active{% endif %}">
					<i class="icon-chevron-up icon-grey"></i> ASC
				</button>
				<button type="button" style="width: 202px;" data-order-records-by="DESC" class="btn  {% if settings['group']['o'] == "DESC" %}active{% endif %}">
					<i class="icon-chevron-down icon-grey"></i> DESC</button>

			</div>
			<div class="clearfix"></div>

		</section>







	</div>
	<div class="modal-footer">
		<div class="row">
			<div class="span9 l">
				<button class="btn btn-mini" type="reset" style="padding-left: 2px; padding-right: 2px;" rel="tooltip" title="Click to reset to defaults" data-placement="right">
					<i class="icon icon-refresh"></i></button>
			</div>
			<div  class=" span6 ">



					<button type="button" class="btn span2 close-btn" style="margin-left: 0;">Cancel</button>
					<button type="submit" class="btn btn-primary span4">Save</button>

			</div>

		</div>

	</div>
	</form>
	<div class="loadingmask wide"></div>
</div>
<script type="text/javascript">

	var editions = [
		{heading:'Editions'}
		{% for row in dates %}
		,{text:'{{ row['publish_date_display'] }}', date:'{{ row['publish_date'] }}'}
		{% endfor %}

	];
var date_range = {{ date_range|raw }};
</script>