<!doctype html>
<!--[if lt IE 7]>
<html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>
<html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>
<html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<title>Test Dictionary</title>
	<meta name="description" content="">
	<meta name="author" content="">


	<meta name="viewport" content="width=device-width,initial-scale=1">




	<link rel="stylesheet" href="/ui/_css/bootstrap.css">
	<link rel="stylesheet" href="/ui/fancybox/jquery.fancybox.css">


	<style type="text/css">
		article {
			border-bottom: 1px dotted #ccc;
			padding: 10px 20px ;
		}
		.well {
			margin: 5px 0 5px 0;			
		}
		footer {
			margin-top:5px;
		}
		.lookups {
			color: #8a8a8a;
		}
		.lookups span {
			cursor: pointer;
		}
		.lookups span:hover {
			background-color: #e1e1e1;
		}
		.loading {
			text-align: center;
			margin:30px;
		}
	</style>
	


</head>
<body>

http://jquery-spellchecker.badsyntax.co/ckeditor.html

https://github.com/badsyntax/jquery-spellchecker/wiki/Documentation
<div>
	<form action="#">
		<input type="text" id="word" name="word" />	<button id="lookup" class="btn" type="submit">lookup</button>
		<div class="help-block">
			Powered By: <a href="http://www.abbreviations.com" target="_blank"> http://www.abbreviations.com</a>
		</div>
	</form>

	
	<div id="result">

		
	</div>
	
	
	
	
</div>


<script src="/ui/_js/libs/jquery.js"></script>
<script src="/ui/_js/plugins/jquery.getData.js"></script>
<script src="/ui/_js/plugins/jquery.jqote2.js"></script>
<script src="/ui/fancybox/jquery.fancybox.pack.js"></script>

<style type="text/css">
	
	
</style>
<script type="text/javascript">
	
	$("form").submit(function(e){
		e.preventDefault();
		lookup();
	});
	
	$(document).on("click",".lookups span",function(){
		var word = $(this).text();
		//console.log(word);
		lookup(word);
		
	});
	
	function wrapify(str){
		var ret = str;
		if (str){
			var newHtml = str.split(","),
					spans = $.map(newHtml,function(v){
						v = v.trim();
						return '<span>' + v + '</span>';
					});


			ret = spans.join(', ');
		}
		
		return ret;
	}
	
	
	function lookup(word){
		if (word){
			$("#word").val(word);
		} else {
			word = $("#word").val();
		}
	
		if (word){
			def(word);
		}
		
		
	}
	function def(word){
		$result = $("#result");
		$result.html('<img src="/ui/_images/loading-wide.gif" class="loading">');
		jQuery.support.cors = true;
		$.ajax("http://www.stands4.com/services/v2/syno.php?uid=3116&tokenid=DncJPzPES3OLbTH7&word="+word, {
			cache : true,
			type : "get",
			global : false,
			dataType : "xml",
			//jsonp : false,
			success : function (returnedXMLResponse) {

				var data = {
					"term":word,
					"result":"0",
					"results":[]
				};
				$('result', returnedXMLResponse).each(function(){
					
					var syn = $('synonyms', this).text()

					var d = {
						"term":$('term', this).text(),
						"partofspeech":$('partofspeech', this).text(),
						"definition":$('definition', this).text(),
						"example":$('example', this).text(),
						"synonyms": wrapify($('synonyms', this).text()),
						"antonyms": wrapify($('antonyms', this).text())
						
					};
					data.results.push(d);

					//Here you can do anything you want with those temporary
					//variables, e.g. put them in some place in your html document
					//or store them in an associative array
				});
				var template = "#template-result"
				if (data.results.length){
					
				} else {
					template = "#template-no-result"
				}
				
				$result.jqotesub($(template), data);


				//getChannelMessages(channel);
			}
		});
	}
	
	
	if ($("#word").val()){
		lookup();
	}
	
	function updatetimerlist(){
		
	}
</script>
<script type="text/x-jqote-template" id="template-result">
	<![CDATA[
	<h1>Result <small><%= this.term %></small></h1>
			
		<% for(var i in this.results) { %>
		<article>
			<header>
				<h3><%= this.results[i].term %> <small>(<%= this.results[i].partofspeech %>)</small></h3>
			</header>
			<div class="well well-small">
			<%= this.results[i].definition %>
			</div>
			<% if (this.results[i].example) { %>
			
			<em><%= this.results[i].example %></em>
				
			<% } %>
			<% if (this.results[i].synonyms || this.results[i].antonyms) { %>
			<footer>
				<% if (this.results[i].synonyms) { %>
				<p class="lookups"><em><strong>Synonyms:</strong></em> <%= this.results[i].synonyms %></p>
				<% } %>
				<% if (this.results[i].antonyms) { %>
				<p class="lookups"><em><strong>Antonyms:</strong></em> <%= this.results[i].antonyms %></p>
				<% } %>
				
			</footer>
			<% } %>
			
		</article>
		
			
	<% } %>
	]]>
</script>
<script type="text/x-jqote-template" id="template-no-result">
	<![CDATA[
	<h1>No Result <small><%= this.term %></small></h1>
			No Matches Found
	]]>
</script>		
</body>
</html>