<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpErrors errorMode="Detailed" />
		<rewrite>

			<rules>
				<!--


			 If you're not using the build script to manage your filename version revving,
			 you might want to consider enabling this, which will route requests for
			 /css/style.v20110203.css to /css/style.css

			 To understand why this is important and a better idea than all.css?v1231,
			 read: github.com/h5bp/html5-boilerplate/wiki/Version-Control-with-Cachebusting


			 -->
				<rule name="Cachebusting" stopProcessing="false">
					<match url="^(.+)\.\d+(\.(js|css|png|jpg|gif)$)"/>
					<action type="Rewrite" url="{R:1}{R:2}"/>
				</rule>
				<rule name="Main Rule" stopProcessing="false">
					<match url=".*"/>
					<conditions logicalGrouping="MatchAll">
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true"/>
					</conditions>
					<action type="Rewrite" url="index.php"/>
				</rule>

			</rules>
		</rewrite>
    </system.webServer>

</configuration>
