<div class="modal hide fade wide" id="settings-modal" data-show="false">
    <form class="form-horizontal" style="padding: 0; margin: 0;">
        <div class="modal-header">
            <a class="close" data-dismiss="modal">×</a>

            <h3>
                Settings
            </h3>


        </div>
        <div class="modal-body" style="overflow: hidden;">

            <section class="span8" style="position:absolute;top:0; bottom: 0; left: 0; border-right: 1px dotted #ccc;">
                <h4>
                    List Columns<br>
                    <small>Drag the items up and down to re-order the list. <br>To remove a column drag it to the "Available" column
                    </small>
                </h4>
                <div class="row" style="margin-top: 20px;" >
                    <div class="span3"><h5>Available</h5></div>
                    <div class="span1"></div>
                    <div class="span3"><h5>Selected Columns</h5></div>
                </div>
                <div class="row">
                    <div class="span3 side-col">
                        <div class="scroll-pane list-col">
                            <ul class="connectedSortable" id="available-columns" >
                            {% for row in settings_columns['available'] %}
                                <li data-column="{{ row['c'] }}">{{ row['h']|raw }}</li>
                            {% endfor %}
                            </ul>
                        </div>

                    </div>

                    <div class="span3 side-col">
                        <div class="scroll-pane list-col">
                            <ul class="connectedSortable" id="selected-columns">
                                {% for row in settings_columns['selected'] %}
                                    <li data-column="{{ row['c'] }}">{{ row['h']|raw }}</li>
                                {% endfor %}
                            </ul>
                        </div>

                    </div>
                </div>



            </section>
            <section class="" style="position:absolute;top:0; bottom: 0; right: 0; left: 505px;">
                <h4>
                    Group By<br>
                    <small>Group the records by this category
                    </small>
                </h4>
                <div class="btn-group square" data-toggle="buttons-radio" id="settings-records-group" style="white-space: normal;">
                    {% for row in settings['groupby'] %}
                        <button type="button" style="width: 135px;" data-group-records-by="{{ row['g'] }}" class="btn {% if settings['group']['g']|default("material_production") == row['g'] %}active{% endif %}">{{ row['n'] }}</button>

                    {% endfor %}
                </div>
                <div class="clearfix"></div>
                <hr>
                <h4>
                    Direction<br>
                    <small>Order the records this way
                    </small>
                </h4>
                <div class="btn-group square" data-toggle="buttons-radio" id="settings-records-order">
                    <button type="button" style="width: 202px;" data-order-records-by="ASC" class="btn {% if settings['group']['o']|default("ASC") == "ASC" %}active{% endif %}">
                        <i class="icon-chevron-up icon-grey"></i> ASC
                    </button>
                    <button type="button" style="width: 202px;" data-order-records-by="DESC" class="btn  {% if settings['group']['o'] == "DESC" %}active{% endif %}">
                        <i class="icon-chevron-down icon-grey"></i> DESC
                    </button>

                </div>
                <div class="clearfix"></div>

            </section>


        </div>
        <div class="modal-footer">
            <div class="row">
                <div class="span9 l">
                    <button class="btn btn-mini" type="reset" style="padding-left: 2px; padding-right: 2px;" rel="tooltip" title="Click to reset to defaults" data-placement="right">
                        <i class="icon icon-refresh"></i></button>
                </div>
                <div class=" span6 ">


                    <button type="button" class="btn span2 close-btn" style="margin-left: 0;">Cancel</button>
                    <button type="submit" class="btn btn-primary span4">Save</button>

                </div>

            </div>

        </div>
    </form>
    <div class="loadingmask wide"></div>
</div>