<section role="main" id="pagecontent">

	<div class="container">


		<article id="whole-area" class="span16">
			<div class="content">
				<div class="scroll-pane">

					<div data-heading="top" id="scroll-container" style="padding-bottom: 30px;">
						step 2
					</div>
				</div>
			</div>
		</article>
	</div>
</section>
