<div class="navbar navbar-fixed-top" id="pageheader">
<div class="navbar-inner" style="">
<div class="container">
<div class="clearfix">

<a class="brand" href="#select-app" data-toggle="modal">{{ _application['name'] }}</a>
{% if _cfg['git']['branch'] != 'master' %}
	<div id="brand-branch" >{{ _cfg['git']['branch'] }}</div>
{% endif %}

<div id="app-nav-bar">
<ul class="nav" id="app-nav">
	{% if _user['permissions']['form']['new'] %}
		<li class="divider-vertical"></li>
		<li class="icon-btn {% if page['section'] == "form" %} active {% endif %}">
			<a href="/app/nf/form/" class="nav-icon-btn">
					<i class="icon-plus icon-d-grey"></i>
			</a>
		</li>
	{% endif %}
	<li class="divider-vertical"></li>

	<li class="{% if page['section'] == "bookings" %} active {% endif %}">
		<a href="/app/nf/">Articles</a>

	</li>
	{% if _user['permissions']['newsbook']['page'] %}
	<li class="{% if page['section'] == "newsbook" %} active {% endif %}">
		<a href="/app/nf/newsbook">Newsbook</a>

	</li>
	{% endif %}
	{% if _user['permissions']['layout']['page'] %}
	<li class="{% if page['section'] == "layout" %} active {% endif %}">
		<a href="/app/nf/layout">Layout</a>

	</li>
	{% endif %}
	{% if _user['permissions']['production']['page'] %}
	<li class="{% if page['section'] == "production" %} active {% endif %}">
		<a href="/app/nf/production">Production</a>

	</li>
	{% endif %}
	{% if _user['permissions']['records']['_nav'] %}
	<li class="dropdown {% if page['section'] == "records" %} active {% endif %}">
		<a data-toggle="dropdown" class="dropdown-toggle" href="#">Records <b class="caret"></b></a>
		<ul class="dropdown-menu">
			{% if _user['permissions']['records']['deleted']['page'] %}
			<li class=" {% if page['sub_section'] == "deleted" %} active {% endif %}">
				<a href="/app/nf/records/deleted/"><i class="icon-trash menu-icon"></i>Deleted Records</a>
			</li>
			{% endif %}
			{% if _user['permissions']['records']['search']['page'] %}
			<li class=" {% if page['sub_section'] == "search" %} active {% endif %}">
				<a href="/app/nf/records/search/"><i class="icon-search menu-icon"></i>Search</a>
			</li>

			{% endif %}
			{% if _user['permissions']['records']['newsbook']['page'] %}
			<li class=" {% if page['sub_section'] == "records_newsbook" %} active {% endif %}">
				<a href="/app/nf/records/newsbook/"><i class="icon-book menu-icon"></i>Newsbook</a>
			</li>

			{% endif %}
			
		</ul>
	</li>
	{% endif %}
	{% if _user['permissions']['reports']['_nav'] %}
	<li class="dropdown {% if page['section'] == "reports" %} active {% endif %}">
		<a data-toggle="dropdown" class="dropdown-toggle" href="#">Reports <b class="caret"></b></a>
		<ul class="dropdown-menu">

			{% if _user['permissions']['reports']['author']['submitted']['page'] or _user['permissions']['reports']['author']['newsbook']['page'] %}
			<li class="nav-header">Authors</li>
			{% if _user['permissions']['reports']['author']['submitted']['page'] %}
			<li class="{% if page['section']=="reports" and page['sub_section'] == "author_submitted" %} active {% endif %}">
				<a href="/app/nf/reports/author/submitted">Submitted</a>
			</li>
			{% endif %}
			{% if _user['permissions']['reports']['author']['newsbook']['page'] %}
			<li class="{% if page['section']=="reports" and page['sub_section'] == "author_newsbook" %} active {% endif %}">
				<a href="/app/nf/reports/author/newsbook">Newsbook</a>
			</li>
			{% endif %}
			{% endif %}
			{% if _user['permissions']['reports']['category']['figures']['page'] %}
			<li class="nav-header">Categories</li>
			{% if _user['permissions']['reports']['category']['figures']['page'] %}
				<li class="{% if page['section']=="reports" and page['sub_section'] == "category_figures" %} active {% endif %}">
					<a href="/app/nf/reports/category/figures">Figures</a>
				</li>
			{% endif %}
			{% endif %}
			
			{% if _user['permissions']['reports']['publication']['figures']['page'] %}
			<li class="nav-header">Publication</li>
			{% if _user['permissions']['reports']['publication']['figures']['page'] %}
				<li class="{% if page['section']=="reports" and page['sub_section'] == "publication_figures" %} active {% endif %}">
					<a href="/app/nf/reports/publication/figures">Figures</a>
				</li>
			{% endif %}
			{% endif %}
			
			<!--
			<li class="{% if page['section']=="reports" and page['sub_section'] == "author_summary" %} active {% endif %}">
				<a href="/app/nf/reports/authors/progress">Progress</a>
			</li>
			<li class="nav-header">Other</li>
			<li class="{% if page['section']=="reports" and page['sub_section'] == "publications" %} active {% endif %}">
				<a href="/app/nf/reports/publications">Publications</a>
			</li>
			-->
		</ul>
	</li>
	{% endif %}

	<li class="divider-vertical" style="margin-right: 0;"></li>


</ul>
<ul class="nav pull-right" style="margin-left: 0;margin-right: 0;">




	<li class="dropdown" style="padding-left: 0; padding-right: 0; width: 150px; " id="pubSelectID-container">
		{% if use_pub %}
			{% if _user['publications']|length < 15 %}
				<a data-toggle="dropdown" class="dropdown-toggle" href="#" style="padding-left: 8px; padding-right: 0; ">
					<div id="nav-pub-list">
						{{ _user['publication']['publication'] }}<b class="caret"></b>
					</div>
				</a>



				<ul class="dropdown-menu">
					{% set lastCompany = "" %}
					{% for row in _user['publications'] %}
						{% if lastCompany != row['company'] %}
							<li class="heading">{{ row['company'] }}</li>
						{% endif %}
						{% set lastCompany = row['company'] %}
						<li class="{% if row['ID'] ==  _user['publication']['ID'] %}active{% endif %}">
							<a href="?apID={{ row['ID'] }}">{{ row['publication'] }}</a></li>
					{% endfor %}
					
					
					
					
				</ul>
			{% else %}
				<select name="pubSelectID" id="pubSelectID" style="width: 150px;" data-width="200">
					{% set lastCompany = "" %}
					{% for row in _user['publications'] %}
						{% if lastCompany != row['company'] %}
						<optgroup label="{{ row['company'] }}">
						{% else %}
							{% if lastCompany  %}
								</optgroup>
							{% endif %}
						{% endif %}
						{% set lastCompany = row['company'] %}
						<option value="{{ row['ID'] }}" {% if row['ID'] ==  _user['publication']['ID'] %}selected="selected"{% endif %}>{{ row['publication'] }}</option>
					{% endfor %}

				</select>
			{% endif %}


		{% else %}
			{% if _user['companies']|length < 15 %}
				<a data-toggle="dropdown" class="dropdown-toggle" href="#" style="padding-left: 8px; padding-right: 0; ">
					<div id="nav-pub-list">
						{{ _user['company']['company'] }}<b class="caret"></b>
					</div>
				</a>



				<ul class="dropdown-menu">
					{% for row in _user['companies'] %}
						<li class="{% if row['ID'] ==  _user['company']['ID'] %}active{% endif %}">
							<a href="?acID={{ row['ID'] }}">{{ row['company'] }}</a></li>
					{% endfor %}
				</ul>
			{% else %}
				<select name="pubSelectID" id="pubSelectID" style="width: 150px;" data-width="200">
					{% for row in _user['companies'] %}
						<option value="{{ row['ID'] }}" {% if row['ID'] ==  _user['company']['ID'] %}selected="selected"{% endif %}>{{ row['company'] }}</option>
					{% endfor %}

				</select>
			{% endif %}
		{% endif %}


	</li>
	<li class="divider-vertical"></li>
	{% if _user['permissions']['administration']['_nav'] %}
		<li class="dropdown {% if page['section']=="admin" %} active {% endif %}">
			<a data-toggle="dropdown" class="dropdown-toggle nav-icon-btn" href="#" title="Settings" rel="tooltip" data-placement="bottom"><i class="icon-gears icon-d-grey"></i>
			</a>
			<ul class="dropdown-menu">
				<li class="nav-header">Application</li>

				{% if _user['permissions']['administration']['application']['checklists']['page'] %}
				<li class="{% if page['section']=="admin" and page['sub_section'] == "checklists" %} active {% endif %}">
						<a href="/app/nf/admin/checklists">Checklist Items</a>
					</li>
				{% endif %}
				{% if _user['permissions']['administration']['application']['priorities']['page'] %}
				<li class="{% if page['section']=="admin" and page['sub_section'] == "priorities" %} active {% endif %}">
						<a href="/app/nf/admin/priorities">Priorities</a>
					</li>
				{% endif %}
				
				{% if _user['permissions']['administration']['application']['categories']['page'] %}
					<li class="{% if page['section']=="admin" and page['sub_section'] == "categories" %} active {% endif %}">
						<a href="/app/nf/admin/categories">Categories</a>
					</li>
				{% endif %}
				{% if _user['permissions']['administration']['application']['stages']['page'] %}
					<li class="{% if page['section']=="admin" and page['sub_section'] == "stages" %} active {% endif %}">
						<a href="/app/nf/admin/stages">Stages</a>
					</li>
				{% endif %}
				
				{% if _user['permissions']['administration']['application']['sections']['page'] %}
					<li class="{% if page['section']=="admin" and page['sub_section'] == "sections" %} active {% endif %}">
						<a href="/app/nf/admin/sections">Sections</a>
					</li>
				{% endif %}

				
				

				{% if _user['permissions']['administration']['application']['cm_style_sheet']['page'] %}
					<li class="{% if page['section']=="admin" and page['sub_section'] == "cm_style_sheet" %} active {% endif %}">
						<a href="/app/nf/admin/cmstylesheet">Cm Style Sheet</a>
					</li>
				{% endif %}
				{% if _user['permissions']['administration']['application']['loading']['page'] %}
					<li class="{% if page['section']=="admin" and page['sub_section'] == "loading" %} active {% endif %}">
						<a href="/app/nf/admin/loading">Loading</a>
					</li>
				{% endif %}
				{% if _user['permissions']['administration']['application']['resources']['page'] %}
					<li class="{% if page['section']=="admin" and page['sub_section'] == "resources" %} active {% endif %}">
						<a href="/app/nf/admin/resources">Resources</a>
					</li>
				{% endif %}



				<li class="nav-header">System</li>
				{% if _user['permissions']['administration']['system']['dates']['page'] %}
					<li class="{% if page['section']=="admin" and page['sub_section'] == "dates" %} active {% endif %}">
						<a href="/app/nf/admin/dates"><i class="icon-calendar menu-icon"></i> Dates</a>
					</li>
				{% endif %}{% if _user['permissions']['administration']['system']['users']['page'] %}
					<li class="{% if page['section']=="admin" and page['sub_section'] == "users" %} active {% endif %}">
						<a href="/app/nf/admin/users"><i class="icon-user menu-icon" style="margin-right: 7px;"></i> Users</a>
					</li>
				{% endif %}
				{% if _user['permissions']['administration']['system']['publications']['page'] %}
					<li class="{% if page['section']=="admin" and page['sub_section'] == "publications" %} active {% endif %}">
						<a href="/app/nf/admin/publications"><i class="icon-book menu-icon"></i> Publications</a>
					</li>
				{% endif %}
				{% if _user['permissions']['administration']['system']['company']['page'] %}
					<li><a href="#"><i class="icon-globe menu-icon"></i> Company</a></li>
				{% endif %}
				{% if _user['permissions']['allow_setup']=='1' or _user['su']=='1' %}
					<li class="nav-header">Other</li>
				{% endif %}

				{% if _user['permissions']['allow_setup']=='1' or _user['su']=='1' %}
					<li>
						<a href="/app/setup"><i class="icon-wrench menu-icon"></i> Setup Wizard</a>
					</li>
				{% endif %}
			</ul>
		</li>
	{% endif %}
		<li class="divider-vertical"></li>
	<li style="margin-right: -10px;">
		<a href="/app/logout" style="padding: 8px 3px 10px 10px;" rel="tooltip" title="Logout" data-placement="bottom"><img src="/ui/_images/logout.png" alt="Logout"></a>
	</li>
</ul>
</div>
<!--/.nav-collapse -->
</div>
</div>

</div>


<div class="clearfix"></div>
</div>