
<section id="maintoolbar" class="section_reports">
	<div class="container">
		<div class="toolbar clearfix  ">
			<ul class="nav nav-pills pull-left">

				<li>
					<h2 style="padding-left: 30px; margin-bottom: -5px;">Reports
					</h2>
				</li>
				<li class="divider-vertical"></li>
				<li>
					<h2 style=" margin-bottom: -5px;"><small>Author Newsbook - Date used</small></h2>
				</li>
			</ul>
			<div class="pull-right">

				<ul class="nav nav-pills pull-right ">
					<li>
						<div class="btn-group" data-toggle="buttons-radio" id="list-filter-btns">
							<button data-filter="*" class="btn  btn-mini btn-icon {% if settings['filter'] == "*" %}active{% endif %}" style="width:40px;" title="All records (placed / not placed)">
								<i class="icon-asterisk"></i></button>
							<button data-filter="1" class="btn  btn-mini btn-icon {% if settings['filter'] == "1" %}active{% endif %}" style="width:40px;" title="Only placed records">
								<i class="icon-ok"></i></button>
							<button data-filter="0" class="btn  btn-mini btn-icon {% if settings['filter'] == "0" %}active{% endif %}" style="width:40px;" title="Only not placed records">
								<i class="icon-remove"></i></button>
						</div>
					</li>
					<li class="divider-vertical"></li>
					<li>
						<select id="selectID" name="selectID" tabindex="8" class="" style="width: 300px;" placeholder="Select an Author">


							{% for row in users %}
								<option value="{{ row['ID'] }}"  {% if row['ID'] == selected %} selected="selected"{% endif %}>{{ row['fullName'] }}</option>                            {% endfor %}

						</select>
					</li>
					


					<li class="divider-vertical" style="margin-right: 0;"></li>
					<!--
					<li class="dropdown pull-right">
						<a href="#" style="width:15px;"><i class="icon-print icon-grey"></i></a>

					</li>
					-->
				</ul>
			</div>

		</div>
		<div class="toolbar-end"></div>
	</div>

</section>
<section role="main" id="pagecontent" class="section_reports">
	<div class="container">


		<article id="whole-area" class="span16">
			<div class="content">
				<div class="scroll-pane" >

					<div data-heading="top" id="scroll-container">


					</div>


				</div>
			</div>
			<div class="loadingmask wide"></div>
		</article>
	</div>
</section>
{% include "_record_settings.tmpl" %}
<script type="text/javascript">
	var currency_sign = '{{ _cfg['currency']['sign'] }}';
</script>
