<!doctype html>
<!--[if lt IE 9]>
<html class="no-js oldie" lang="en"> <![endif]-->
<!--[if IE 9]>
<html class="no-js ie ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]>
<html class="no-js ie" lang="en">
<![endif]-->
<!-->
<html class="no-js" lang="en">
<!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<title>{{ page['meta']['title']|default("") }}</title>
	<meta name="description" content="">
	<meta name="author" content="">


	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/ui/_css/libs/custom-theme/jquery-ui.{{ _v }}.css"/>
	<link rel="stylesheet" type="text/css" href="/ui/_css/style.{{ _v }}.css"/>


	<script src="/ui/_js/libs/modernizr.{{ _v }}.js"></script>


	{% for row in page['css'] %}
		<link rel="stylesheet" href="{{ row }}">
	{% endfor %}

	{% if page['print'] %}
		<link rel="alternate" media="print" href="{{ page['print'] }}">
		<link rel="alternate" type="text/html" media="print" href="{{ page['print'] }}">
	{% endif %}
	<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">



</head>
<body>

{% include "_nav_top.tmpl" %}
{% if page['template'] %} {% include page['template'] %} {% endif %}


<footer id="pagefooter">
	<div class="container">
		<div style="position: absolute; left:10px; ">
			<a href="#systemTimers-container" data-toggle="modal" style="position: absolute; z-index:9999;"><i class="icon-time icon-d-grey"></i></a>
		</div>
		<div class="clearfix">
			<div class="row">
				<div class="span16" style="position: relative;">
					<div class="span14" style="position:relative;">
						<div id="notice-area" class="span14">

							&nbsp;</div>
						<div id="notice-area-idle" class="c span10 offset3" style="position: absolute; top:0; left: 0; background-color: #444; display: none;">&nbsp;</div>
					</div>
					<div class="s span2" id="notifications-area-right-bottom">


						<div class="dropup" id="user-loggedin-list-trigger">
							<span class="dropdown-toggle" data-toggle="dropdown">{{ _user['fullName'] }}</span>

							<div class="dropdown-menu" id="user-loggedin-list">

							</div>

						</div>


						<div class="s" style="position: absolute; right:0; z-index:10;">

							
							{% if _cfg['system_messages'] %}
								<span id="message-icon-area">
		                        <a title="Messages" class="messages_link" href="/app/nf/messages" style="margin-left: 5px;">
			                        <i class="icon-comment-alt icon-grey"></i>
		                        </a>
		                        
	                        </span>
							{% endif %}
							<a href="{{ page['help'] }}" class="help_link" title="Docs&nbsp;/&nbsp;Help"><i class=" icon-question-sign icon-grey"></i></a>
						</div>


					</div>
				</div>


			</div>
		</div>
	</div>

</footer>

<div id='systemTimers-container' class='modal hide fade'>
	<div class='modal-header'><a href='#' class='close' data-dismiss="modal">&times;</a>

		<h3>Debug</h3></div>
	<div class='modal-body'>
		<article>
			<table id='systemTimers'>

			</table>
		</article>
	</div>
	<div class='modal-footer'>

	</div>
</div>

<div id="displaylogout">
	<div class='box'>
		<h2>Inactivity</h2>

		<div class="timer"></div>
		<button class='btn primary ' style='margin-top: 20px; width: 190px;' id='keepalivebtn'>Keep me logged in</button>
		<a class='btn  ' style='margin-top: 20px; margin-left: 10px; width: 92px;' href='/app/logout'>logout</a>
	</div>
</div>

{% include "_app_select.tmpl" %}
<div id="view-log" class='modal hide fade'>
	<div class='modal-header'><a href='#' class='close' data-dismiss="modal">&times;</a>

		<h3>View Log</h3></div>
	<div class='modal-body'>
		<table class="table" style="margin-top: 10px; margin-bottom: 8px; ">

		</table>


	</div>
	<div class='modal-footer'>

	</div>

</div>

<!--[if lt IE 9]>
<script language="javascript" type="text/javascript" src="/ui/jqPlot/excanvas.js"></script>
<![endif]-->
<script src="/ui/_js/libs/jquery.{{ _v }}.js"></script>
<script src="/min/js.{{ _v }}.js"></script>

<script type="text/javascript">
	var highlightfrom = {{ _cfg['debug']['highlightfrom'] }};
	{% if _user['disable_transitions']=='1' %}
	jQuery.fx.off = true;
	{% endif %}
</script>

<script src='/apps/nf/ui/_js/script.{{ _v }}.js'></script>
{% for row in page['js'] %}
	<script src='{{ row }}'></script>
{% endfor %}

<script type="text/x-jqote-template" id="template-timers-tr">
	<![CDATA[

	<* if(this.msg!="Page Execute: "){ *>
	<tr>
		<td><*= this.msg *>
			<div class="s g"><*= this.arg *></div>
		</td>
		<* if (this.tim > {{ _cfg['debug']['highlightfrom'] }}) { *>
		<td style="color: red;"><*= this.tim *></td>
		<* } else { *>
		<td><*= this.tim *></td>
		<* } *>

	</tr>
	<* } *>

	]]>
</script>
<script type="text/x-jqote-template" id="template-timers-tr-models">
	<![CDATA[

	<tr style="background-color:#f1f1f1; ">
		<td><*= this.k *></td>
		<td style="width: 140px; <* if ( this.t > {{ _cfg['debug']['highlightfrom'] }} ) { *>color: red;<* } *>"><*= this.t *></td>
	</tr>
	<* for(var i in this.m) { *>
	<tr class="btn-row-details">
		<td class="s g"
		<* if (this.m[i].c > 1) { *>style="color: red;"<* } *>> <*= this.m[i].c *>&nbsp;|&nbsp;<*= this.m[i].l *>        </td>
		<td class="s g"
		<* if (this.m[i].t > {{ _cfg['debug']['highlightfrom'] }}) { *>style="color: red;"<* } *>> <*= this.m[i].t *>        </td>
	</tr>

	<tr class="row-details">
		<td colspan="2">
			<table class='s g' style='width:100%'>

				<tbody>
				<* for(var g in this.m[i].m) { *>
				<tr>
					<td style="padding-left:30px;">

						<div style="margin-left: -20px;" class="dg">
							<*= this.m[i].m[g].arg.file *> : <*= this.m[i].m[g].arg.line *><br>
							<em style="margin-left: 10px;"><*= this.m[i].m[g].arg.class *>-><*= this.m[i].m[g].arg.function *>(<*= this.m[i].m[g].arg.args *>)</em>

						</div>
						<* if (this.m[i].m[g].bt) { *>
						<div style="margin-left: -20px;" class="">
							<*= this.m[i].m[g].bt.file *> : <*= this.m[i].m[g].bt.line *><br>
							<em style="margin-left: 10px;"><*= this.m[i].m[g].bt.class *>-><*= this.m[i].m[g].bt.function *>(<*= this.m[i].m[g].bt.args *>)</em>

						</div>
						<* } *>


					</td>
					<td style="width: 140px; <* if ( this.m[i].m[g].tim > {{ _cfg['debug']['highlightfrom'] }} ) { *>color: red;<* } *>"><*= this.m[i].m[g].tim *></td>
				</tr>
				<* } *>
				</tbody>
			</table>

		</td>
	</tr>
	<* } *> ]]>
</script>
<script type="text/x-jqote-template" id="template-logged-in-users">
	<![CDATA[

	<tr>
		<td>
			<%= this.n %>
		</td>
		<td class="g ">
			<%= this.la %>
		</td>

	</tr>

	]]>
</script>
<script type="text/x-jqote-template" id="template-admin-logs">
	<![CDATA[

	<tr class="log-record record" data-log-id="<%= this.ID %>">
		<th class="s"><%= this.datein %></th>
		<td><%= this.label %></td>
		<td class="s g"><%= this.fullName || "" %></td>
	</tr>
	<tr>
		<td colspan="3" class="log-record-details " data-log-id="<%= this.ID %>" style="padding:0;">
			<table class="table s log-changes-table">
				<thead>
				<tr class="headingrow" style="border-right:none;">
					<th class="l" style="width: 24%;text-align: right;"></th>
					<th class="l" style="width: 38%;">From</th>
					<th class="l" style="width: 38%;">To</th>
				</tr>
				</thead>
				<tbody>
				<% for(var g in this.logs) { %>
				<tr>
					<td class="g r" style="text-align: right;"><%= this.logs[g].k %></td>


					<% if (this.logs[g].w!="-"){ %>
					<td><% if ( this.logs[g].w) { %><%= this.logs[g].w %><% } %></td>
					<% } %>
					<td
					<% if (this.logs[g].w=="-"){ %>colspan='2'<% } %>><% if ( this.logs[g].v) { %><%= this.logs[g].v %><% } %></td>
				</tr>
				<% } %>
				</tbody>
			</table>


		</td>
	</tr>

	]]>
</script>
{% if page['template_tmpl'] %}
	{% include page['template_tmpl'] %}
{% endif %}

<!-- hihi page['template_tmpl'] -->


{% include 'templates/template.jtmpl' ignore missing %}

{% include 'analytics.tmpl' %}
</body>
</html>
