#new-contact-table td {
  padding: 4px;
}
#new-contact-table td button.span1 {
  margin: 0;
}
.contact-detail-drag-here {
  border: 1px dashed #adadad;
  font-size: 11px;
  text-align: center;
  line-height: 30px;
  color: #999;
}
.contact-details-block li {
  padding: 5px;
}
.contact-details-icon {
  float: left;
  margin-left: 0px;
  min-height: 1px;
  width: 30px;
  text-align: center;
}
#contact-details-groups fieldset legend .btn {
  display: none;
  width: 20px;
}
#contact-details-groups fieldset legend:hover .btn {
  display: block;
}
