@-webkit-keyframes pulse {
	0%   { opacity: 1; }
	50%   { opacity: 0.5; }
	100% { opacity: 1; }
}
@-moz-keyframes pulse {
	0%   { opacity: 1; }
	50%   { opacity: 0.5; }
	100% { opacity: 1; }
}
@-o-keyframes pulse {
	0%   { opacity: 1; }
	50%   { opacity: 0.5; }
	100% { opacity: 1; }
}
@keyframes pulse {
	0%   { opacity: 1; }
	50%   { opacity: 0.5; }
	100% { opacity: 1; }
}
#impreshin-logo {
	-webkit-animation: pulse 2s infinite; /* Safari 4+ */
	-moz-animation:    pulse 2s infinite; /* Fx 5+ */
	-o-animation:      pulse 2s infinite; /* Opera 12+ */
	animation:        pulse 2s infinite; /* IE 10+ */
	
	
	
	animation-timing-function: ease-in-out;
}