<section id="maintoolbar">
    <div class="container">
        <div class="toolbar clearfix  ">
            <ul class="nav nav-pills pull-left">


                <li class="divider-vertical"></li>
            </ul>
            <div class="pull-right">
                <ul class="nav nav-pills pull-left" id="provisional-stats-bar">


                </ul>
                <ul class="nav nav-pills pull-right ">
                    <li class="divider-vertical" style="margin-right: 0;"></li>


                </ul>
            </div>


        </div>
        <div class="toolbar-end"></div>
    </div>

</section>

<section role="main" id="pagecontent">

    <div class="container">


        <article id="whole-area" class="span16">
            <div class="content">
                <div class="scroll-pane">

                    <div data-heading="top" id="scroll-container">

                        <table class="table table-condensed table-bordered s records" id="record-list" style="margin-right: 15px;">


                        </table>
                    </div>

                </div>

            </div>

            <div class="loadingmaska wide"></div>
        </article>
    </div>


</section>
