.pages {

	width               : 143px;
	float               : left;
	margin-top          : 25px;
	margin-bottom       : 5px;

	background-color    : #fff;
	position            : relative;
	border:1px solid #999;


}

.spread {
	display        : block;
	float          : left;
	width          : 305px;
	padding-bottom : 20px;
	padding-top    : 10px;
}
.pages.left {
	float:left;
	-webkit-box-shadow : -3px 2px 4px rgba(150, 150, 150, 0.2);
	-moz-box-shadow    : -3px 2px 4px rgba(150, 150, 150, 0.2);
	box-shadow         : -3px 2px 4px rgba(150, 150, 150, 0.2);
}

.pages.right {
	float              : right;
	-webkit-box-shadow : 3px 2px 4px rgba(150, 150, 150, 0.2);
	-moz-box-shadow    : 3px 2px 4px rgba(150, 150, 150, 0.2);
	box-shadow         : 3px 2px 4px rgba(150, 150, 150, 0.2);
}
.spread.left .pages.right {
	margin-right:12px;
}
.spread.right .pages.left {
	margin-left:12px;
}
.pages .page_section {
	position : absolute;
	top      : -16px;
	height: 11px;
	cursor : pointer;
}

.pages.left .page_section {
	left : -13px;
	right:-2px;
}

.pages.right .page_section {
	right : -13px;
	left:-3px;
}



.pages .pagenr {
	position: absolute;
	top:-19px;
	border: 1px solid #444;

	width: 30px;
	text-align: center;
	color: #fff;
background-color: rgba(100,100,100,0.8);

	cursor : pointer;

}


.pages.left .pagenr {
	left:-1px;
}
.pages.right .pagenr {
	right:-1px;
}

.pages .page_locked {
	position : absolute;
	top   : -19px;

	background-color : rgba(250, 250, 250, 0.7);
padding: 0 3px;
}

.pages.left .page_locked {
	left : 31px;
}

.pages.right .page_locked {
	right : 31px;
}



.pages .page_colour {
	position : absolute;
	bottom   : -10px;
}
.pages.left .page_colour {
	left : -10px;
}

.pages.right .page_colour {
	right : -10px;
}

.pages footer.progress {
	position:absolute;
	bottom: 0;
	left:0;
	right:0;
	margin-bottom: 0;
	webkit-border-radius : 0;
	-moz-border-radius   : 0;
	border-radius        : 0;
	height: 16px;
}

.pages footer.progress .text {
	position: absolute;
	top:-2px;
	left:0;
	right:0;
	bottom:0;
	text-align: center;
	font-size: 9px;


}

.pages footer.progress .bar {
	filter         : alpha(opacity='50');
	-moz-opacity   : 0.3;
	-khtml-opacity : 0.3;
	opacity        : 0.3;
}

.pages  .msgs {
	position   : absolute;

	left       : 0;
	right      : 0;
	bottom     : 0;
	text-align : center;
	font-size  : 9px;
	background-color : white;
	display: none;
}

.pages >article {
	overflow-y : auto;
	margin-bottom: 15px;
}
#record-list-middle {

	position : absolute;
	bottom   : 42px;
	left     : 0;
	right    : 0;
	top: 200px;
}


#record-details-bottom {
	position: absolute;
	bottom: 42px;
	left:0;
	right:0;
	border-top:1px solid #ccc;
	font-size: 10px;
	background-color   : #eeeeee;
	background-repeat  : repeat-x;
	background-image   : -moz-linear-gradient(top, whitesmoke 30%, #eeeeee 100%);
	background-image   : -webkit-gradient(linear, left top, left bottom, color-stop(30%, whitesmoke), color-stop(100%, #eeeeee));
	background-image   : -webkit-linear-gradient(top, whitesmoke 30%, #eeeeee 100%);
	background-image   : -ms-linear-gradient(top, whitesmoke 30%, #eeeeee 100%);
	background-image   : -o-linear-gradient(top, whitesmoke 30%, #eeeeee 100%);
	filter             : progid:DXImageTransform.Microsoft.gradient(startColorstr = whitesmoke, endColorstr = #eeeeee, GradientType = 0);
	background-image   : linear-gradient(top, whitesmoke 30%, #eeeeee 100%);
	-webkit-box-shadow : 0 -1px 3px rgba(100, 100, 100, 0.2);
	-moz-box-shadow    : 0 -1px 3px rgba(100, 100, 100, 0.2);
	box-shadow         : 0 -1px 3px rgba(100, 100, 100, 0.2);
}
#record-details-bottom h4 {
	padding: 5px;
	border-bottom: 1px dotted #ccc;



}


#record-details-bottom > article {
	cursor : pointer;

}

#record-details-bottom fieldset {
	margin-bottom: 5px;
}
#record-details-bottom legend {
	font-size: 10px;
	margin-bottom: 0;
	padding-bottom: 0;
	color: #999;
	font-variant: small-caps;
	height: 25px;
}

#record-details-bottom table {
	margin: 0;

}
##record-details-bottom  table td {
	padding: 0 5px;
}
#dummy-bottom {
	padding-left: 7px;
	position: absolute;
	bottom: 42px;
	left:-5px;
	right:0;
	border-top:1px solid #ccc;
	padding-bottom: 6px;
	color : #999;
	background-color  : #eeeeee;
	background-repeat : repeat-x;
	background-image  : -moz-linear-gradient(top, whitesmoke 30%, #eeeeee 100%);
	background-image  : -webkit-gradient(linear, left top, left bottom, color-stop(30%, whitesmoke), color-stop(100%, #eeeeee));
	background-image  : -webkit-linear-gradient(top, whitesmoke 30%, #eeeeee 100%);
	background-image  : -ms-linear-gradient(top, whitesmoke 30%, #eeeeee 100%);
	background-image  : -o-linear-gradient(top, whitesmoke 30%, #eeeeee 100%);
	filter            : progid:DXImageTransform.Microsoft.gradient(startColorstr = whitesmoke, endColorstr = #eeeeee, GradientType = 0);
	background-image  : linear-gradient(top, whitesmoke 30%, #eeeeee 100%);
	-webkit-box-shadow : 0 -1px 3px rgba(100, 100, 100, 0.2);
	-moz-box-shadow    : 0 -1px 3px rgba(100, 100, 100, 0.2);
	box-shadow         : 0 -1px 3px rgba(100, 100, 100, 0.2);

}

#dummy-bottom .spread {
	width:56px;
	float:left;
	padding: 0;
	margin: 5px 4px 0 4px;

}

#dummy-bottom .spread .page {
	border : 1px solid #ccc;
	width  : 25px;

	text-align: center;
	margin: 0;
	cursor : pointer;
	position: relative;

}


#dummy-bottom .spread .page .bar {
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	filter         : alpha(opacity = '50');
	-moz-opacity   : 0.3;
	-khtml-opacity : 0.3;
	opacity        : 0.3;
	background-color: #0E90D2;
}

#dummy-bottom .spread .page.visible {
	background-color: #e1e1e1;
	color: #666;
	-webkit-box-shadow : 0 0 4px rgba(150, 150, 250, 0.2);
	-moz-box-shadow    : 0 0 4px rgba(150, 150, 250, 0.2);
	box-shadow         : 0 0 4px rgba(150, 150, 250, 0.2);
}
#dummy-bottom .spread .page:hover {
	background-color : #DEEBFF;
	color: #444;
}
#rightsideOver {
	position:absolute;
	top : 0;
	bottom : 0;
	left : -1px;
	right : 0;
	background-color: rgba(250,250,250,1);
display: none;
}

#rightsideOver  .header {
	position: absolute;
	top:0;
	left: 0;
	right: 0;
	border-bottom: 1px dotted #ccc;
	padding-top: 5px;
	padding-bottom: 5px;

}

#rightsideOver .header .close-right-over{
	position : absolute;
	top : 3px;
	right : 3px;
	padding-left: 5px;
	padding-right: 5px;
}

#rightsideOver  .footer {
	position       : absolute;
	bottom            : 42px;
	left           : 0;
	right          : 0;
	border-top  : 1px dotted #ccc;


}

#rightsideOver  .body {
	position : absolute;
	bottom   : 42px;
	left  : 0;
	right : 0;
	top: 38px;
}

.dragablethingy {
	width:50px;
	height: 50px;
	background-color: #999;
}

.locked {
	background-color : #ffedf2;
}
.dropzones {
	background-color : #D3FFB7;
}

.pagehover, .droppablehover {
	background-color : #D3FFB7;
	border           : 1px solid #6C0;
}
.droppablehover {
	border: none;
}

.returnhover {
	background-color : #D3FFB7;
}

.pagefull {
	background-color : #F99;
	border           : 1px solid #F00;
}

.pages article[data-colour='none'] .record[data-colour='Full'], .pages article[data-colour='none'] .record[data-colour='full'], .pages article[data-colour='none'] .record[data-colour='Spot'], .pages article[data-colour='none'] .record[data-colour='spot'] {
	background-color : #ffd9d0;
}
.pages article[data-colour='Spot'] .record[data-colour='Full'], .pages article[data-colour='Spot'] .record[data-colour='full'] {
	background-color : #ffd9d0;
}
.pages .record td {
	border-bottom: 1px dotted #e1e1e1;
}