#pagination {
	display : none;
	text-align: center;
}

#form-bottom {
	position: absolute;
	bottom:42px;
	left : 0;
	right : 0;

	background-color   : #eeeeee;
	background-repeat  : repeat-x;
	background-image   : -moz-linear-gradient(top, whitesmoke 30%, #eeeeee 100%);
	background-image   : -webkit-gradient(linear, left top, left bottom, color-stop(30%, whitesmoke), color-stop(100%, #eeeeee));
	background-image   : -webkit-linear-gradient(top, whitesmoke 30%, #eeeeee 100%);
	background-image   : -ms-linear-gradient(top, whitesmoke 30%, #eeeeee 100%);
	background-image   : -o-linear-gradient(top, whitesmoke 30%, #eeeeee 100%);
	filter             : progid:DXImageTransform.Microsoft.gradient(startColorstr = whitesmoke, endColorstr = #eeeeee, GradientType = 0);
	background-image   : linear-gradient(top, whitesmoke 30%, #eeeeee 100%);
	-webkit-box-shadow : 0 0 3px rgba(100, 100, 100, 0.2);
	-moz-box-shadow    : 0 0 3px rgba(100, 100, 100, 0.2);
	box-shadow         : 0 0 3px rgba(100, 100, 100, 0.2);


}

#form-bottom .form-actions{
	margin: 0;
	padding: 5px;
}

#form-bottom .form-actions .btn {

}
#suggested_dates {
	margin:0;
	padding: 0;
	list-style: none;
}
#suggested_dates td {
	padding: 5px;

}

#left-area .scroll-pane.scrolly {
	bottom: 84px;
}

#permissions label.checkbox {
	padding-left: 30px;
	margin-top: 0;
	margin-bottom: 0;
}

#permissions label.checkbox.hoverable {
	cursor : pointer;
}
#permissions label.checkbox.hoverable:hover {
	background-color : #DEEBFF;
	text-shadow : 0 1px 1px rgba(250, 250, 250, 0.25);
	color            : #444;
}
#permissions .help-inline {
	color: #ccc;
}