#login-form {
	display: block;
	height: 235px;
	width: 500px;
	position: absolute;
	top:50%;
	left: 50%;

	margin-top: -120px;
	margin-left: -270px;
	padding-bottom: 0;
	margin-bottom: 0;
	border:1px solid #ccc;
}



#newsflash {
	position: absolute;
	bottom:0px;



}
#whole-area {
	background: url('/ui/_images/logo-big.png') center center no-repeat;
}