<section id="maintoolbar" class="keep-me-logged-in">


</section>


<section role="main" id="pagecontent">
	<div class="container">

		<article id="whole-area" class="span16">
			<div class="content">
				<div class="scroll-pane">

					<div data-heading="top" id="scroll-container">


					</div>

				</div>

			</div>

			<div class="loadingmask wide"></div>
		</article>


		<div id="cm-block"></div>
	</div>

</section>

<div id='modal-form' class='modal hide fade'>

</div>

<div id='modal-delete' class='modal hide fade'>
	<form style="margin: 0;">
		<div class='modal-header'><a href='#' class='close' data-dismiss="modal">&times;</a>

			<h3>Delete Reason:</h3></div>
		<div class='modal-body'>
			<article class="c">
				<textarea name="delete_reason" id="delete_reason" cols="30" rows="10" style="width: 98%; height: 100px;" placeholder="You need to give a reason why you are deleting this record"></textarea>


			</article>
		</div>
		<div class='modal-footer'>
			<div class="btn-group c" style="margin-left: 7px;">
				<button class="btn btn-link span2" data-dismiss="modal" type="button">Cancel</button>
				<button class="btn btn-danger span2" style="float:right;" type="submit">Delete</button>

			</div>
		</div>
	</form>
</div>
<script type="text/javascript">
	var var_record_ID = '{{ ID }}';

</script>