<section id="maintoolbar">
	<div class="container">
		<div class="toolbar clearfix  ">
			<ul class="nav nav-pills pull-left" style="margin-left:10px;">
				<li>
					<div class="btn-group" data-toggle="buttons-radio" id="btns-tabs" >
						<button class="btn btn-mini span2 {% if settings['tab']=="1" %}active{% endif %}" data-tab='1' type="button">Calendar</button>
						<button class="btn btn-mini span2 {% if settings['tab']=="2" %}active{% endif %}" data-tab='2'  type="button">Tasks</button>
						<button class="btn btn-mini span2 {% if settings['tab']=="3" %}active{% endif %}" data-tab='3'  type="button">List</button>
						<button class="btn btn-mini span2 {% if settings['tab']=="4" %}active{% endif %}" data-tab='4'  type="button">Status</button>
					
					</div>
				</li>
				<li class="divider-vertical"></li>
			</ul>
			<ul class="nav nav-pills pull-right">
				<li >
					<form id="search-form-toolbar" action="" style="margin:0;">
						<div class="input-append" style="margin: 0;">
							<input class="span3" id="search" type="text" placeholder="Search" value="">
							<button class="btn btn-mini" style="padding: 6px 20px 7px 20px;" type="submit">Search</button>
							<button class="btn btn-mini" style="padding: 6px 10px 6px 10px; display:none;" type="reset"><i class="icon-ban-circle"></i></button>
						</div>
					</form>
				</li>




				<li class="divider-vertical"></li>
				<li>
					<div class="btn-group" data-toggle="buttons-radio" id="btns-feed-days" >
						<button class="btn btn-mini span2 {% if settings['feed_days']=="1" %}active{% endif %}" type="button" data-days="1">1 Day</button>
						<button class="btn btn-mini span2 {% if settings['feed_days']=="7" %}active{% endif %}" type="button" data-days="7">7 Days</button>
						<button class="btn btn-mini span2 {% if settings['feed_days']=="14" %}active{% endif %}" type="button" data-days="14">14 Days</button>
						<button class="btn btn-mini span2 {% if settings['feed_days']=="30" %}active{% endif %}" type="button" data-days="30">30 Days</button>
					</div>
				</li>
				
			</ul>


		</div>
		<div class="toolbar-end"></div>
	</div>

</section>

<section role="main" id="pagecontent">

	<div class="container">

		<div class="row">

		<article id="left-area" class="span11">
			<div class="content">
				<div class="scroll-pane">

					<div data-heading="top" id="scroll-container" style="padding-bottom: 30px;  ">

						<div id="calendar-area"></div>
					</div>

				</div>

			</div>

			<div class="loadingmask wide"></div>

		

			
		</article>
		<article id="right-area" class="span5 offset11">
			<div class="content">
				<div class="scroll-pane" >

					<div data-heading="top" id="scroll-container" style="padding-bottom: 30px;  ">

						<div id="ticker-area"></div>
					</div>

				</div>

			</div>

			<div class="loadingmask wide"></div>

		

			
		</article>
		
	</div>
	</div>
</section>
