

<em>Printed By:</em>
{{ _user['fullName'] }} | <em>Printed Date: </em>
{{ "now"|date("d M Y H:i:s") }}

<div style="height: 10px;"></div>
<h1>{{ data['client'] }}</h1>
<div>
	{% if data['deleted'] %}<span class="label label-important" style="margin-right: 10px; margin-top:-8px;"> Deleted </span>{% endif %}
	{% if data['repeat_from'] %}<span class="label label-info" style="margin-right: 10px; margin-top:-8px;"> Repeat </span>{% endif %}
</div>
<div style="height: 10px;"></div>
<h3>
	{{ data['publication'] }}
	<small>{{ data['publishDateDisplay'] }}</small>
</h3>
<div style="height: 10px;"></div>
<table class="table" style="margin-top: 10px; margin-bottom: 8px;">
	<tbody>
	<tr>
		<th width="150" style="width: 150px; ">Account:</th>
		<td colspan="3">:&nbsp;{% if data['labelClass'] %}<span class="label {{ data['labelClass'] }}" style="margin-right: 10px;"> {{ data['accountStatus'] }}</span> {% endif %}{{ data['account'] }} - {{ data['accNum'] }}

		</td>
	</tr>

	{% if data['typeID']=='1' %}
	<tr>
		<th>Placing</th>
		<td colspan="3">:&nbsp;{{ data['placing'] }}</td>

	</tr>

	<tr>
		<th>Colour</th>
		<td {% if data['colour']!= "Spot" and data['colour']!='Full' %}{% endif %}> : {{ data['colour'] }} {% if data['colour']!= "Spot" %}({{ data['colourSpot'] }}){% endif %}</td>
		{% if data['colour']== "Spot" or data['colour']=='Full' %}
		<th>Colour Rate</th>
		<td>: {{ data['colourLabel'] }}</td>
		{% endif %}
	</tr>
	<tr>
		<th>Size</th>
		<td {% if data['rate_C'] %}{% endif %}>
		<div style="margin-right: -50px;">: {{ data['cm'] }} <span class="g"> x </span> {{ data['col'] }}
			<span class="g"> = </span> {{ dtaa['totalspace'] }} <span class="g"> col/cm's</span>
		</div>
		</td>
		{% if data['rate_C'] %}
		<th>Tariff</th>
		<td>: {{ data['rate_C']|raw }}</td>
		{% endif %}
	</tr>
	{% elseif (data['typeID'] =='2') %}
	<tr>
		<th>Print Order</th>
		<td colspan="3">:&nbsp;{{ data['InsertPO'] }}</td>
	</tr>
	<tr>
		<th>Tariff</th>
		<td colspan="3">:&nbsp;{{ data['rate_C']|raw }}</td>
	</tr>

	{% endif %}
	{% if data['totalCost_C'] %}
	<tr>
		<th>Totalcost</th>
		<td colspan="3">: {{ data['totalCost_C']|raw }} &nbsp;&nbsp;&nbsp; {% if data['percent_diff']!='0.00' %} ({{ data['totalShouldbe_C']|raw }} -
			<span class="label {% if data['percent_diff']<0 %}label-success{% else %}label-important{% endif %} "> {{ data['percent_diff'] }}% </span>) {% endif %}

		</td>
	</tr>
	{% endif %}


	<tr>
		<th>Key Number</th>
		<td colspan="3">: {{ data['keyNum'] }}</td>
	</tr>

	<tr>
		<th>Order Number</th>
		<td colspan="3">:&nbsp;{{ data['orderNum'] }}</td>
	</tr>
	<tr>
		<th>Marketer</th>
		<td colspan="3">: {{ data['marketer'] }}</td>
	</tr>
	<tr>
		<th width="80">Discount</th>
		<td width="140">: {% if data['discount'] and data['discount'] != '0.00' %}{{ data['discount'] }}{% endif %}</td>
		<th width="130">Agency Discount</th>
		<td width="170">: {% if data['agencyDiscount'] and data['agencyDiscount'] != '0.00' %}{{ data['agencyDiscount'] }}{% endif %}</td>
	</tr>
	<tr>
		<th>Category</th>
		<td colspan="3">: {{ data['category'] }}</td>
	</tr>


	<tr>
		<td colspan="4" style="padding-top: 20px; padding-bottom: 20px;">
									<span style="margin-right: 10px;">


									{% if data['remark'] %}
									{% if data['remarkTypeLabelClass'] %}
											<span class="label {{ data['remarkTypeLabelClass'] }}" title="{{ data['remarkType'] }}">{{ data['remarkType'] }}: </span>
										{% else %}
											<span style="padding:0 5px;"></span>
									{% endif %}
									{% endif %}
									</span> {{ data['remark'] }}

		</td>
	</tr>
	</tbody>
</table>
<hr>

<table class="table" style="margin-top: 10px; margin-bottom: 8px; ">
	<tr>
		<th width="120" style="width: 120px;">Booked By</th>
		<td>{{ data['byFullName'] }}</td>
		<td width="200" style="width: 200px;">{{ data['datein'] }}</td>
	</tr>
	<tr>
		<th>Checked</th>
		{% if data['checked']=='1' %}
		<td>
			{{ data['checked_user'] }}
		</td>
		<td>{{ data['checked_date'] }}</td>
		{% else %}
		<td colspan="2"></td>
		{% endif %}
	</tr>
	<tr>
		<th>Material</th>
		{% if data['material_status']=='1' %}
		<td>
			{% if data['material_source']=='1' %} {{ data['material_production'] }} {% else %} Material Supplied {% endif %}
		</td>
		<td>{{ data['material_date'] }}</td>
		{% else %}
		<td colspan="2"></td>
		{% endif %}
	</tr>
</table>
{% if data['deleted'] %}
<h3 style="margin-top: 30px;">Deleted</h3>
<table class="table" style="margin-top: 10px; margin-bottom: 8px; ">
	<tr>
		<th width="120" style="width: 120px;">Deleted By</th>
		<td>{{ data['deleted_user'] }}</td>
		<td width="200" style="width: 200px;">{{ data['deleted_date'] }}</td>
	</tr>
</table>
<div style="padding-left:15px;">
	<div class="alert alert-block"><strong>Reason:</strong> {{ data['deleted_reason'] }}</div>
</div>

{% endif %}