#pagination {
	display : none;
	text-align: center;
}




#left-area .scroll-pane.scrolly {
	bottom: 84px;
}

#permissions label.checkbox {
	padding-left: 30px;
	margin-top: 0;
	margin-bottom: 0;
}

#permissions label.checkbox.hoverable {
	cursor : pointer;
}
#permissions label.checkbox.hoverable:hover {
	background-color : #DEEBFF;
	text-shadow : 0 1px 1px rgba(250, 250, 250, 0.25);
	color            : #444;
}
#permissions .help-inline {
	color: #ccc;
}

.order-btn {
	font-weight : bold;
	cursor      : pointer;
}
.order-btn:hover {
	color            : #000;
	background-color : #f1f1f1;
}

.order-btn.indicator {
	display : none;
}