.locked {
	font-weight: bold;
	font-style: italic;
}
.locked:hover td {
	background-color: transparent !important;
}
.attained {
	color: #999;
}
.attained .progress {
	-moz-opacity   : 0.2;
	-khtml-opacity : 0.2;
	opacity        : 0.2;
}