<section id="maintoolbar">
	<div class="container">
		<div class="toolbar clearfix  ">
			<ul class="nav nav-pills pull-left">
				<li>
					<h2 style="padding-left: 30px; margin-bottom: -5px;">Overview</h2>
				</li>

			


			</ul>
			<div class="pull-right">
				<ul class="nav nav-pills pull-left">
					<li class="divider-vertical"></li>
					<li>
						<div class="btn-group"  id="list-zoom-btns">
							<button class="btn span1 btn-mini" style="" data-zoom="+1"><i class="icon-zoom-in"></i></button>
							<button class="btn span1 btn-mini" style="" data-zoom="-1"><i class="icon-zoom-out"></i></button>
							
							</div>

					</li>
				</ul>
				<ul class="nav nav-pills pull-right ">

					<li class="divider-vertical"></li>
					<li>
						<div class="btn-group" data-toggle="buttons-radio" id="list-highlight-btns">
							<button class="btn span1 btn-mini  {% if settings['highlight'] == "material" %}active{% endif %} " style="width:120px; margin-left: 10px;" data-highlight="material">Material Status</button>
							<button class="btn span1 btn-mini  {% if settings['highlight'] == "material_approved" %}active{% endif %} " style="width:120px; " data-highlight="material_approved">Material Approved</button>
							<button class="btn span1 btn-mini  {% if settings['highlight'] == "planned" %}active{% endif %} " style="width:120px; " data-highlight="planned">Bookings Planned</button>


							<button class="btn span1 btn-mini  {% if settings['highlight'] == "locked" %}active{% endif %} " style="width:120px; " data-highlight="locked">Pages Locked</button>
						
							<!--	<button class="btn span1 btn-mini  {% if settings['highlight'] == "fullpage" %}active{% endif %} " style="width:120px; " data-highlight="fullpage">Complete Pages</button>-->

						</div>
					</li>
					<li class="divider-vertical"></li>
					
					<li class="dropdown pull-right">
						<a id="reload-btn" href="javascript:void(0);" style="width:15px;"><i class="icon-refresh"></i></a>

					</li>
				</ul>
			</div>

		</div>
		<div class="toolbar-end"></div>
	</div>

</section>

<section role="main" id="pagecontent">
	<div class="container">


			<article id="whole-area" class="span16">
				<div class="content">
					<div class="scroll-pane scrolly" id="dummy-area">

						<div data-heading="top" class="scroll-container" style="padding-left: 15px;" id="pages-area">



						</div>

					</div>

				</div>
				<div id="dummy-bottom" class="highlighthovered">

				</div>
				<div class="loadingmask wide"></div>

			</article>

		</div>




</section>


<div id="page-details-modal" class="modal hide fade" tabindex="-1" role="dialog">

</div>