#nf-details-modal {

	width       : 800px;
	margin-left : -400px;
	overflow    : hidden;

	.modal-body {
		overflow : hidden;
		height   : 500px;
		position : relative;
	}
	.modal-header {
		position : relative;
	}

	.list-next-prev-btns {
		display : none;
	}
	.button-cell {
		cursor : pointer;
		&:hover {
			background-color : #ccc;
		}
	}
	.active .icon-grey {
		color : #666;
	}
	table td, table th {
		border-top-color : #f1f1f1;
	}
	table th {
		color       : #999;
		font-weight : bold;

	}
	table.records {
		tbody, thead {
			.box-shadow(none);
		}
	}

	.modal-header-right {
		position : absolute;
		top      : 8px;
		right    : 30px;
	}
	.details-bottom-right-btns {
		position   : absolute;
		right      : 10px;
		bottom     : 3px;
		width      : 210px;
		text-align : right;
	}
	.modal-header-btns {
		position : absolute;
		top      : 12px;
		right    : 230px;

		a {
			text-align : center;
			padding    : 15px 8px 5px 8px;
			.opacity(20);
			.transition(all 0.5s ease-in-out);

			&:hover {
				.opacity(100);
			}
		}

	}
}

#nf-details-modal-area {
	.back-btn-details-pane {
		display:none;
	}
	.nav-tabs {
		height        : 500px;
		position      : absolute;
		right         : 0;
		top           : 0;
		width         : 220px;
		bottom        : 0;
		padding-top   : 10px;
		padding-right : 10px;
		a {
			padding-left  : 7px;
			padding-right : 7px;
			.badge {
				background-color : #ccc;
				float            : right;
				&.badge-info {
					background-color : #3A87AD;
				}
			}

		}
	}
	.tab-pane {
		position   : absolute;
		left       : 0;
		top        : 0;
		right      : 230px;
		bottom     : 0;
		overflow-y : auto;
		padding    : 0 10px;

		.jspVerticalBar {
			.opacity(0);
			.transition();
		}
		&:hover .jspVerticalBar {
			.opacity(100);

		}
		.scroll-pane {
			position : absolute;
			left     : 0;
			top      : 0;
			right    : 0;
			bottom   : 0;
		}
		table:first-child tr:first-child {
			td, th {
				border-top : none;
			}
		}
	}
	li.tab-icon {
		height : 36px;

		.badge {

			background-color : #ccc;

		}

	}
	.tab-icon a {
		width     : 15px;

		min-width : 15px;
		display   : inline-block;

	}

	.log-changes-table th {
		text-align : left !important;
	}

	#details-pane-logs .record.active {
		background-color : #f1f1f1 !important;
		text-shadow      : none;
	}
	#details-pane-logs .record:hover {
		text-shadow : none;
	}

	#details-pane-details {
		ins, ins p {
			color           : green;
			background      : #dfd;
			text-decoration : none;
		}
		del, del p {
			color           : red;
			background      : #fdd;
			text-decoration : none;
		}
	}
	#details-info-pane {
		position : absolute;
		right    : 5px;
		bottom   : 0px;
		width    : 220px;

		.table {
			margin-bottom : 0;
		}

		.photo-slider {

			position : relative;
			z-index  : 0;
			width    : 220px;

			.item {
				width            : 170px;
				height           : 140px;
				background-color : #f1f1f1;
				margin-left      : 25px;
			}

			.carousel-control {
				border        : 1px solid #FFFFFF;
				border-radius : 23px;
				font-size     : 20px;
				font-weight   : 100;
				height        : 35px;
				left          : 15px;
				line-height   : 30px;
				margin-top    : -20px;
				opacity       : 0;
				top           : 50%;
				width         : 20px;
				.transition(opacity 0.5s linear);

				&.right {
					left  : auto;
					right : 0;
				}
				&.left {
					left  : 0;
					right : auto;
				}
			}

			&:hover .carousel-control {
				opacity : 0.2;
			}

		}

	}
	#details-pane-media {
		table.records {
			tbody {
				tr {
					td {
						line-height : 24px;
					}
				}
			}
		}

	}

	
	

	#comments-area {
		padding : 10px 20px;
		article {
			padding-bottom : 10px;
			margin-bottom  : 10px;
			position       : relative;
			border-bottom  : 1px dotted #ccc;

			h4 {
				ul.actions {
					margin     : 0;
					list-style : none;
					position   : absolute;
					top        : -5px;
					right      : 0;
					.opacity(0);
					.transition(all 0.5s ease-in-out);
					li {
						display : inline-block;
						padding : 5px;
						cursor  : pointer;
						&:hover {
							background-color : #DEEBFF;
							color            : #000;
						}
					}
				}
				margin-bottom : 3px;
				&:hover {
					ul.actions {
						.opacity(100);
					}
				}
			}
			.children {
				padding-left : 20px;
				article {
					border-bottom  : none;
					border-top     : 1px dotted #e1e1e1;
					margin-top     : 5px;
					padding-top    : 5px;
					margin-bottom  : 5px;
					padding-bottom : 5px;
					padding-left   : 20px;
					h4 {
						font-size : 11px;
						color     : #999;
					}
				}
			}
		}

	}
	#comment-area {
		position     : absolute;
		bottom       : -3px;
		left         : 0;
		right        : 0;
		padding-left : 20px;
		form {
			display : none;
		}
		&.active {

			height : 140px;
			input[type="text"] {
				display : none;

			}
			form {
				display : block;
				textarea {
					width  : 515px;
					height : 90px;

					.box-shadow(0 0 10px rgba(100, 100, 100, 0.3));
				}
				.buttons {
					position : absolute;
					bottom   : 10px;
					right    : 20px;

				}
				#comment-heading {
					position    : absolute;
					bottom      : 15px;
					left        : 20px;
					font-style  : italic;
					font-weight : bold;
					color       : #999;
				}
			}

		}
	}
	#nf-details-title {
		max-width     : 465px;
		white-space   : nowrap;
		overflow      : hidden;
		text-overflow : ellipsis;
		position      : relative;
		&:hover {
			background-color  : rgba(250, 250, 250, 0.8);
			max-width         : 100%;
			overflow          : visible;
			white-space       : normal;
			webkit-box-shadow : 10px rgba(250, 250, 250, 0.8);
			box-shadow        : 10px rgba(250, 250, 250, 0.8);
			z-index           : 999;
		}
	}

}