<div class="navbar navbar-fixed-top " id="pageheader">
	<div class="navbar-inner" style="">
		<div class="container">
			<div class="clearfix">

				<a class="brand" href="/setup" data-toggle="modal">Setup</a>

				<div id="app-nav-bar">
					<ul class="nav" id="app-nav">
						<li class="divider-vertical"></li>
						<li class="{% if company['ID']=="" and page['section']=="home"  %}active{% endif %}" rel="tooltip" title="Companies" data-placement="bottom">
							<a href="/setup"><i class="icon-globe nav-icon"></i></a>
						</li>
						{% if company['ID'] %}
							<li class="{% if  page['section']=="app"  %}active{% endif %}" rel="tooltip" title="Applications" data-placement="bottom">
								<a href="/setup/{{ company['ID'] }}"><i class="icon-bookmark  nav-icon"></i></a>
							</li>
							{% if application %}
							<li class="{% if page['section']=="pub"  %}active{% endif %}" rel="tooltip" title="Publications" data-placement="bottom">
								<a href="/setup/{{ company['ID'] }}/{{ application }}"><i class="icon-book  nav-icon"></i></a>
							</li>
							{% endif %}


							{% for row in nav %}
								<li class="{% if section == row['section'] %}active{% endif %}" rel="tooltip" title="{{ row['heading'] }}"  data-placement="bottom"  >
									{% if row['active'] %}
									<a href="{{ base_url }}{{ row['section'] }}" >{{ row['link_heading'] }}</a>
									{% else %}
									<span class="future_step">{{ row['link_heading'] }}</span>
									{% endif %}
								</li>
							{% endfor %}
						{% endif %}



					</ul>
					<ul class="nav pull-right" style="margin-left: 0;margin-right: 0;">


						<li class="divider-vertical"></li>

						<li style="margin-right: -10px;">
							<a href="/logout" style="padding: 8px 3px 10px 10px;" rel="tooltip" title="Logout" data-placement="bottom"><img src="/ui/_images/logout.png" alt="Logout"></a>
						</li>
					</ul>
				</div>
				<!--/.nav-collapse -->
			</div>
		</div>

	</div>


	<div class="clearfix"></div>
</div>